workflowsData Update: GENERIC: Create: create-colour-sync.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-05T16:35:34.132Z",
  "id": "pybezIjYI2SlhLOh",
  "name": "Data Update: GENERIC: Create: create-colour-sync",
  "nodes": [
    {
      "parameters": {
        "path": "create-colour-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4f03f1f7-a233-4e9b-952e-f1f2cd4ba27e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8ed392b-2d40-41fc-ae1c-f74dcb5ab3b9",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "attribute_id",
              "value": "={{3}}"
            }
          ]
        }
      },
      "id": "f46d9f84-d4e8-4c08-b1d5-725a3525ae5e",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        860,
        360
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "colour"
            }
          ]
        },
        "options": {}
      },
      "id": "d30c2328-2844-4fef-bcab-c2d397eedf85",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        1160,
        460
      ]
    },
    {
      "parameters": {},
      "id": "cb2bf563-5f94-44e7-acb8-cc468586549c",
      "name": "Create",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        460
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{ $json[\"colour\"] }}"
            },
            {
              "fieldName": "attribute_id",
              "fieldValue": "={{3}}"
            }
          ]
        }
      },
      "id": "bef24f47-9003-4b33-9ed3-6118466bab73",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        460
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"colour\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "314e61bf-f3f3-439a-b361-b8645a56e06a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT(colour) FROM transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} WHERE colour IS NOT NULL;",
        "options": {}
      },
      "id": "262f6ec8-3109-4d15-b7ec-1128734ef4ac",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        860,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\"changes\":false};"
      },
      "id": "2ae8f4c5-386e-47d8-807e-2cc5933afd66",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        700
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "globals": {
            "SupplierName": "Madison",
            "PartnerId": 47,
            "ProductTagId": 8,
            "LeadTimeAddition": 3,
            "Webhook": "update-madison",
            "LastCount": "20164",
            "CreateSequence": "create-categ-sync,create-size-sync,create-version-write,create-brand-sync,create-brand-write,create-colour-sync,create-colour-write,create-attribute-write,create-madison-extrainfo-label-sync,create-madison-extrainfo-label-write,create-madison-extrainfo-sync,create-madison-extrainfo-write"
          },
          "name": "Madison",
          "create-sequence": "create-categ-sync"
        }
      }
    ],
    "Globals": [
      {
        "json": {
          "globals": {
            "SupplierName": "Madison",
            "PartnerId": 47,
            "ProductTagId": 8,
            "LeadTimeAddition": 3,
            "Webhook": "update-madison",
            "LastCount": "20164",
            "CreateSequence": "create-categ-sync,create-size-sync,create-version-write,create-brand-sync,create-brand-write,create-colour-sync,create-colour-write,create-attribute-write,create-madison-extrainfo-label-sync,create-madison-extrainfo-label-write,create-madison-extrainfo-sync,create-madison-extrainfo-write"
          },
          "name": "Madison",
          "create-sequence": "create-categ-sync"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-02T10:29:02.000Z",
  "versionId": "43d9bcff-9b7d-49dc-97bd-241244d7d48d"
}