workflowsUtility: supplier_pricelist populater.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add variantgrouping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hook up existing prices": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Add variantgrouping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Globals": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "hook up existing prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Supplier": {
      "main": [
        [
          {
            "node": "Get Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "create supplier listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add variantgrouping": {
      "main": [
        [
          {
            "node": "Postgres6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create supplier listing": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-26T14:14:30.701Z",
  "id": "NcCSuVjV7aeHK3kb",
  "name": "Utility: supplier_pricelist populater",
  "nodes": [
    {
      "parameters": {},
      "id": "41cec6b4-8a9a-47ef-bf88-779b9bce9ab6",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT(product_tmpl_id), supplier_pricelist_ids FROM {{ \"index_\"+$json.name.toLowerCase() }} WHERE supplier_pricelist_ids IS NULL;",
        "options": {}
      },
      "id": "4d04b8aa-30eb-482d-a01f-cc056e8eb003",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1600,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "product_tmpl_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tmpl_id",
              "value": "={{ $json.product_tmpl_id }}"
            }
          ]
        }
      },
      "id": "d5099c88-3315-4acc-8429-0d72e2e6b5c5",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1820,
        220
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "287814af-9241-4190-92e6-d1607fc21c44",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2580,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase()}} SET\nsupplier_pricelist_ids = {{ \"'\"+$json.id+\"'\" }}\nWHERE product_tmpl_id = {{$json.product_tmpl_id[0] }}",
        "options": {}
      },
      "id": "c1a46e37-0cc2-4786-9ce5-ac472dde988f",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2940,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {},
      "id": "b6b0b1b7-7387-4dd1-8445-854347f2ae84",
      "name": "hook up existing prices",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT(product_tmpl_id) FROM {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase() }} WHERE supplier_pricelist_ids IS NULL;",
        "options": {}
      },
      "id": "781be8b1-fdc2-42c5-88a6-620301f4f91a",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1920,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c4b590b6-ca9d-4dcd-91e5-444147b2ca81",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2140,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT variantgrouping, {{ $json.product_tmpl_id }} AS product_tmpl_id FROM {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase() }} WHERE product_tmpl_id = {{ $json.product_tmpl_id }}",
        "options": {}
      },
      "id": "1ac58d7b-ce0e-43fa-b7f6-b02864b230f3",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2360,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT yourprice, variantgrouping, {{ $json.product_tmpl_id }} AS product_tmpl_id, leadtime FROM {{ \"odooData.feed_\"+$('Globals').first().json.name.toLowerCase() }} WHERE variantgrouping = {{ \"'\"+$json.variantgrouping+\"'\" }}",
        "options": {}
      },
      "id": "55a25b64-0887-48d6-8c95-76cf2fdf40b3",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2960,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "partner_id",
              "fieldValue": "={{ $('Globals').first().json.globals.PartnerId }}"
            },
            {
              "fieldName": "display_name",
              "fieldValue": "={{$('Globals').first().json.name}}"
            },
            {
              "fieldName": "delay",
              "fieldValue": "={{ $json.leadtime + $('Globals').first().json.globals.LeadTimeAddition }}"
            },
            {
              "fieldName": "product_tmpl_id",
              "fieldValue": "={{ $json.product_tmpl_id }}"
            },
            {
              "fieldName": "price",
              "fieldValue": "={{ $json.yourprice }}"
            }
          ]
        }
      },
      "id": "367ca612-d1af-4384-a7ab-67cc3300fa36",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3160,
        640
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierinfo WHERE name = {{ \"'\"+$json.supplier+\"'\" }}",
        "options": {}
      },
      "id": "ac7ee2a8-88f0-437b-bbc2-2a3a06e6a790",
      "name": "Get Globals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1020,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ JSON.parse($json.globals)[0] }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5b9cad6-b485-429f-930e-15dd796bb433",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE index_madison SET supplier_pricelist_ids = {{ $json.id }}\nWHERE product_tmpl_id = {{ $('Postgres4').item.json.product_tmpl_id }}",
        "options": {}
      },
      "id": "7fec9efc-b0de-488e-b171-9f560a5d9461",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3380,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.variantgrouping }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aae21761-2245-409e-b0e2-f31166fd2e6a",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2580,
        640
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "supplier",
              "value": "Zyro"
            }
          ]
        },
        "options": {}
      },
      "id": "bbe4647b-0ea3-463c-8a46-2980391f0810",
      "name": "Set Supplier",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase() }}\nSET variantgrouping = b.variantgrouping\nFROM {{ \"odooData.feed_\"+$('Globals').first().json.name.toLowerCase() }} b\nWHERE barcode = b.ean",
        "options": {}
      },
      "id": "ecb8c04b-00f3-4341-a0ca-592300f267d1",
      "name": "Postgres6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1480,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {},
      "id": "0075b0d8-6980-4dd2-83bb-81315ea96b63",
      "name": "Add variantgrouping",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        640
      ]
    },
    {
      "parameters": {},
      "id": "43faa4b9-02c6-451c-92e8-c57397f59ffb",
      "name": "create supplier listing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-09-27T10:43:28.000Z",
  "versionId": "8961f25c-bec4-48c9-a569-17e01921d5e5"
}