workflowsDataUpdate: Supplier Index Sync (sub flow).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-12T10:32:04.395Z",
  "id": "A3plXyotqr0Mfb30",
  "name": "DataUpdate: Supplier Index Sync (sub flow)",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "datatransit",
          "mode": "list",
          "cachedResultName": "datatransit"
        },
        "table": {
          "__rl": true,
          "value": "={{ \"index_\"+$json.supplier }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "default_code": "={{ $json.default_code }}",
            "barcode": "={{ $json.barcode }}",
            "product_tag_ids": "={{ $json.product_tag_ids }}",
            "product_tmpl_id": "={{ $json.product_tmpl_id}}"
          },
          "matchingColumns": [
            "barcode"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "default_code",
              "displayName": "default_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "barcode",
              "displayName": "barcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_tag_ids",
              "displayName": "product_tag_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_tmpl_id",
              "displayName": "product_tmpl_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d27aa483-36a5-4a8d-b0fc-950f3515f6ae",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1460,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "path": "supplier-index-sync-sub-flow",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f654d704-1cb5-489c-8c5c-420c70521d06",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        360
      ],
      "webhookId": "4a7ada52-ba42-4eb3-946f-7192f25bc3ec"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "dfdcbc16-0b69-4dce-bed0-216e99b17f83",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "default_code",
              "value": "={{ $json.json.default_code }}"
            },
            {
              "name": "barcode",
              "value": "={{ $json.json.barcode.trim() }}"
            },
            {
              "name": "product_tag_ids",
              "value": "={{ $json.json.product_tag_ids.join() }}"
            },
            {
              "name": "supplier",
              "value": "={{ $json.json.supplier }}"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{ $json.json.id }}"
            },
            {
              "name": "product_tmpl_id",
              "value": "={{ $json.json.product_tmpl_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fad31211-5f81-43bd-94ac-7c03126cd147",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1260,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-12T15:12:53.694Z",
      "updatedAt": "2023-08-12T15:12:53.694Z",
      "id": "veItN06CNprBqx4u",
      "name": "webhook"
    },
    {
      "createdAt": "2023-08-10T13:01:31.941Z",
      "updatedAt": "2023-08-10T13:01:31.941Z",
      "id": "zZDHTHLWDuph4zmi",
      "name": "item lists"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-12T15:26:29.000Z",
  "versionId": "55ad86b1-6e57-43ea-be80-01d2816ab283"
}