workflowsData Update: Zyro.json
{
  "active": true,
  "connections": {
    "Category Sync": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Size Sync": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Sync": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Write": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Sync": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Write": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Creation1": {
      "main": [
        [
          {
            "node": "Code18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Import": {
      "main": [
        [
          {
            "node": "Category Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colour Write": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attribute Write": {
      "main": [
        [
          {
            "node": "Template Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Size Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Product Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Variant Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Brand Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Brand Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Colour Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Colour Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Attribute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Template Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code18": {
      "main": [
        [
          {
            "node": "Index Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Transit Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Zyro Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zyro Prep": {
      "main": [
        [
          {
            "node": "Postgres12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sequence": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Create Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transit Tables": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-25T11:07:31.166Z",
  "id": "lcpyteSCZ6cKyzpL",
  "name": "Data Update: Zyro",
  "nodes": [
    {
      "parameters": {
        "workflowId": "77"
      },
      "id": "076192bc-5ad5-48d6-9489-de80856cab09",
      "name": "Category Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3040,
        920
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "62"
      },
      "id": "a4128860-4296-480e-99d1-468e0e1fc690",
      "name": "Size Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3160,
        1120
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "64"
      },
      "id": "28a7725e-f5f7-44e9-9691-1ed29d9a6658",
      "name": "Brand Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3500,
        1120
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "65"
      },
      "id": "d97ac903-85ff-4efe-aa66-9e77d162b6f6",
      "name": "Brand Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3680,
        920
      ]
    },
    {
      "parameters": {
        "workflowId": "66"
      },
      "id": "5e7ebab5-6ddb-4648-aff1-d0c716ed7432",
      "name": "Colour Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3820,
        1120
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "d2b8a8d8-eaa2-4dde-8814-0df9e72d6e82",
      "name": "Template Creation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4340,
        1020
      ]
    },
    {
      "parameters": {
        "workflowId": "69"
      },
      "id": "e686948b-84e0-4a51-9d5a-26c46cae816c",
      "name": "Template Creation1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4620,
        1020
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "63"
      },
      "id": "5c1ed0a7-d83a-47c8-80b0-6a95d710501c",
      "name": "Variant Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3360,
        920
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Zyro"
            }
          ]
        }
      },
      "id": "e27fa97c-7604-499a-aac7-883f72671534",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        980,
        1920
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "0feff442-98b7-4f3b-8a60-86987a5a42fa",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1500,
        1220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json[\"globals\"])[0]  }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e5f9bc4-dbc1-47a9-b4a4-de81f0e6a7e2",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        1020
      ]
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1369.7035040431265
      },
      "id": "133fc9f0-1a11-4002-8fcf-e9250399d6bf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        680
      ]
    },
    {
      "parameters": {
        "content": "##Progress: Create",
        "height": 320.17725067385476,
        "width": 705.3541778975705
      },
      "id": "9bd9d3ea-65d8-4e76-8908-3890daee4567",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        906.4211320754716
      ]
    },
    {
      "parameters": {},
      "id": "76bbb691-3988-4a19-91d9-465712bc45c0",
      "name": "Product Import",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2880,
        1000
      ]
    },
    {
      "parameters": {
        "workflowId": "67"
      },
      "id": "6214a308-cc10-4140-ab2c-4b2b4af4fc8b",
      "name": "Colour Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4000,
        920
      ]
    },
    {
      "parameters": {
        "workflowId": "68"
      },
      "id": "4a09cbd3-3666-4f5c-8143-1414ef1f3eda",
      "name": "Attribute Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4140,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "9073debd-0b10-436a-a02b-60ebea02ceb1",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3040,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "b26b0b6c-6342-4c53-8626-d79ddfcdc3b5",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2740,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "db2c3db2-f735-4aa2-a1b6-f1c527e978d5",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3220,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "bfd92778-fe0a-43ea-b816-6a341e3cfd72",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3360,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "8d47e501-9b7c-4b66-b90d-1c8495262ff5",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3540,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "d46178f1-288c-47e4-b64b-c6768a7c5e48",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3680,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "ac0fbbad-829b-4be7-8c0a-aac22d60e152",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3860,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "fe269950-8fa2-48a5-b2aa-ef8ac7cf4c6a",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4000,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "37762ae7-300d-480e-b1c3-0d3985ff5e75",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4480,
        1020
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "operator": "like",
              "value": "Zyro"
            }
          ]
        }
      },
      "id": "25be8bfc-2a33-4ee2-a75b-e8a703165264",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1280,
        1920
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "110"
      },
      "id": "121c4493-d73d-4d4e-ab4a-d465c1022cb1",
      "name": "Index Write",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4620,
        1280
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "c4b2c1d6-bfc6-4c70-a9a3-cebcc539fdb5",
      "name": "Code18",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4480,
        1280
      ]
    },
    {
      "parameters": {
        "path": "update-zyro",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "71c08d58-9ff4-48e7-af97-6e55ee12d7db",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        980,
        1000
      ],
      "webhookId": "7770801b-b434-4e65-b171-59dad557aa29"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Zyro';",
        "options": {}
      },
      "id": "a8bf477b-8a24-43c2-87f6-42531902cb05",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1260,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/transit-tables",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Globals').first().json }}",
        "options": {
          "timeout": 14400000
        }
      },
      "id": "f0997148-de66-4d99-9b26-b83091b4b3f2",
      "name": "Transit Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT (productcode) FROM odoodata.upload_zyro;",
        "options": {}
      },
      "id": "9a020149-aa91-45f7-831e-332cd8a3e1e8",
      "name": "Postgres12",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1860,
        1220
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "largerEqual",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 0.75 }}"
            },
            {
              "value1": "={{ $json.count }}",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 1.25 }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $('Globals').first().json.globals.errorState }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "18d83798-1ec6-4ae9-baf3-e9748a8965e8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2020,
        1220
      ]
    },
    {
      "parameters": {
        "fromEmail": "productfeeds@biketrax.co.uk",
        "toEmail": "luke@biketrax.co.uk",
        "subject": "Madison Feed Rejected!",
        "text": "=Madison feed rejected:\n\nExpected Lines: {{$('Globals').first().json.globals.LastCount}} (Range - 75% - 125%)\nRecieved Lines: {{ $json.count }}\n",
        "options": {}
      },
      "id": "a8a1aec3-bdfd-4189-b487-9f51230c4c05",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2020,
        1460
      ],
      "credentials": {
        "smtp": {
          "id": "xOWEzMfuqVVoWrw0",
          "name": "productfeeds@biketrax.co.uk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE odoodata.map_supplierinfo SET globals = {{ \"'[\" + JSON.stringify($json.globals) + \"]'\" }} WHERE \"name\" = 'Madison';",
        "options": {}
      },
      "id": "6e4fcf62-d8d0-40f2-94e4-ebedc278a496",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2280,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $('Globals').first().json.globals }}"
            },
            {
              "name": "globals.errorState",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9e13296-0570-4ed5-ab8a-6278158b031c",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2020,
        1680
      ]
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/zyro-prep",
        "options": {}
      },
      "id": "3f11fa9f-7666-401a-b01b-d7499b3a6519",
      "name": "Zyro Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "create-sequence",
              "value": "={{ $json.globals.CreateSequence.split(\",\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa4a7fcb-5860-4ef9-b38c-af386eaca76c",
      "name": "Create Sequence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2840,
        1700
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "create-sequence",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "8da4c293-8746-45cf-8c4c-2d7b053d71fb",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        3000,
        1700
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/{{ $json['create-sequence'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "b49dbbc0-67ee-4c27-86d3-96b51d8414a6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        1700
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "13b51eca-1e02-40ab-aa46-a8eef22088fd",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3220,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "4e7f9e55-414b-4317-8a70-808f16f03339",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3560,
        2000
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/create-template",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$('Globals').first().json}}",
        "options": {}
      },
      "id": "eabea650-9208-4019-85ea-54c15cc778d3",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        2000
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "bda94671-554e-423e-8cf7-81a60de9e890",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2680,
        1700
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-10T13:01:44.729Z",
      "updatedAt": "2023-08-10T13:01:44.729Z",
      "id": "9sOXgdnAKkDHmBZQ",
      "name": "if"
    },
    {
      "createdAt": "2023-08-08T15:13:24.003Z",
      "updatedAt": "2023-08-08T15:13:24.003Z",
      "id": "NlzClU8dTHaCHNlt",
      "name": "http"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-10T09:20:30.275Z",
      "updatedAt": "2023-08-10T09:20:30.275Z",
      "id": "cDsMu9S1EDCMPUY2",
      "name": "email"
    },
    {
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "id": "evqsbisrBK9HqVQU",
      "name": "Merge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-10T07:39:16.000Z",
  "versionId": "6fde9337-e467-4bde-91d5-72d6c0ff1da7"
}