workflowsData Update: Sportline.json
{
  "active": true,
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Sportline Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Transit Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sequence": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transit Tables": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sportline Prep": {
      "main": [
        [
          {
            "node": "Postgres12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-29T11:25:16.582Z",
  "id": "f0rzIaBJ34QeHyGy",
  "name": "Data Update: Sportline",
  "nodes": [
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "7f8af5bc-c944-40d0-a5d2-5c68734dfdd0",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1480,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json.globals)[0]  }}"
            },
            {
              "name": "name",
              "value": "={{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd132bba-41f5-4e18-9717-62c02a064aaa",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        580
      ]
    },
    {
      "parameters": {
        "path": "update-sportline",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3bdcb1ff-fe0b-4a1c-9c68-321538b4bf1b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        780
      ],
      "webhookId": "b22a24a7-1ca6-4be4-a0ce-db68dcfac256"
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "42e8823d-5541-42f0-b7a3-c0adc79c261d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Sportline';",
        "options": {}
      },
      "id": "53dff375-20ce-4f2a-a10c-35df55eae9a5",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/transit-tables",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Globals').first().json }}",
        "options": {}
      },
      "id": "585d159d-73ee-4f8d-ab7a-8e7800296f3c",
      "name": "Transit Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT (productcode) FROM upload_sportline;",
        "options": {}
      },
      "id": "5be93ec6-607b-4101-b503-f60eaa334608",
      "name": "Postgres12",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1840,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "largerEqual",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 0.75 }}"
            },
            {
              "value1": "={{ $json.count }}",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 1.25 }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $('Globals').first().json.globals.errorState }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8776de65-0a34-4d4e-af1a-f3dc52cd3566",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        760
      ]
    },
    {
      "parameters": {
        "fromEmail": "productfeeds@biketrax.co.uk",
        "toEmail": "luke@biketrax.co.uk",
        "subject": "Sportline Feed Rejected!",
        "text": "=Madison feed rejected:\n\nExpected Lines: {{$('Globals').first().json.globals.LastCount}} (Range - 75% - 125%)\nRecieved Lines: {{ $json.count }}\n",
        "options": {}
      },
      "id": "b468cc07-2e1c-4e58-b0e2-892b91c4d8ba",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2000,
        1000
      ],
      "credentials": {
        "smtp": {
          "id": "xOWEzMfuqVVoWrw0",
          "name": "productfeeds@biketrax.co.uk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE map_supplierinfo SET globals = {{ \"'[\" + JSON.stringify($json.globals) + \"]'\" }} WHERE \"name\" = 'Madison';",
        "options": {}
      },
      "id": "42675eac-de29-466b-96ee-692a387073ad",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2160,
        1220
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $('Globals').first().json.globals }}"
            },
            {
              "name": "globals.errorState",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c406f3cd-84ac-4181-82cf-27e44dc55744",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2000,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "db971119-d097-4657-b047-72ee95ea35a4",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2560,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "create-sequence",
              "value": "={{ $json.globals.CreateSequence.split(\",\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "644f3ef8-7873-4f16-b046-a0abe0ff46ad",
      "name": "Create Sequence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2720,
        760
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "create-sequence",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "0018e90c-c584-4733-9354-8a5f7b094c22",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2880,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/{{ $json['create-sequence'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "856b0308-3ee3-46d1-927e-8c59dae1e6da",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3420,
        760
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f95a894d-b77b-49d2-9225-52bfde02b952",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3100,
        760
      ]
    },
    {
      "parameters": {},
      "id": "5637ab7a-2125-42c9-9057-ee8b65ea1a8a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        1060
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook-test/create-template",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$('Globals').first().json}}",
        "options": {}
      },
      "id": "579df016-3046-4fa3-85f9-f1ff8b7fd2d2",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3620,
        1060
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/sportline-prep",
        "options": {}
      },
      "id": "953d27eb-d83c-4380-a870-031a5a4ec73b",
      "name": "Sportline Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        760
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bg%2FR%2BDoyn7CGTlRw1Z6%2Fb%2B2XCNN67Jh2o%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX18uU5MJnfgfy%2FRUMU1I8pymRwiN6gsci6M%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImU1NGU2NmU4LTA0YzYtNGZhZi1iZTdjLWMyNDIwYzY2NGU3NCIsImVtYWlsIjoibHVrZUBiaWtldHJheC5jby51ayIsInBhc3N3b3JkIjoiOTRkYjE5YmM3MjMxNDgxODQ3MDRjMmYxZGZkYjlmYjAzNDQxMjM0MjcwMThhODllNGQ5ODQ4NWM2MzUyOGQ0ZSIsImlhdCI6MTY5NTk4MzIxOCwiZXhwIjoxNjk2NTg4MDE4fQ.7Z9QDo3iSle1tRZObWTa5pQXItCmEWOJgoPyWtYPGaA; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BlYUshsIRRBpxBq8zk4T6VX1qS4voINeZ3nvLjoIq6G8mMQXmrFvvwPXJ0cTU88eWNw%2FMaMhkXDw%3D%3D; rl_group_id=RudderEncrypt%3AU2FsdGVkX1%2B8etRPmia55n6AZtIsBdzTqakspFHM61M%3D; rl_group_trait=RudderEncrypt%3AU2FsdGVkX19B%2BXPGxMCKKyQZILbNCfDFPAnqw%2BtBmCw%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19JYzxpQhaL%2F0ogLk2Mwoz%2FIP0ohmFLU0dSvf6tUmqhudW3c0c%2BOk4zNexGwmXcnc%2FB90WYLUKoVGVADMXYfjo4TKfZAaOBSuwGB%2B22emkRdZCb4ujU3DSL4HDOKOfoUPIbtc5U%2FSQhvdgdgCSIBonIrTjrpjiz3ZU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18%2B0pDRyPRwtrXRn5XZgEShtRD3mqEvy%2BHtLTXSlEKwvuecATQaJARJ3%2Bg5njhTW5vNuGrT%2BbUSlkv%2F5duSJGhBw8lgf9hWxOYyb9fHwi8mGNCPRYQKC3NFvn128OcgiQgOYFVfqGHryB8FclaZ63JQ2A7%2BqdRSP8g%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24active_feature_flags%22%3A%5B%22013_distribution_test%22%2C%22011_ask_AI%22%2C%22012_signup_cta_wording%22%2C%22009_choosing_trial_plan%22%2C%22006_cloud_opt_in%22%2C%22010_relevant_usecase%22%2C%22schema-view%22%5D%2C%22%24enabled_feature_flags%22%3A%7B%22013_distribution_test%22%3A%22variant%22%2C%22011_ask_AI%22%3A%22gpt3%22%2C%22012_signup_cta_wording%22%3A%22variant%22%2C%22009_choosing_trial_plan%22%3A%22variant%22%2C%22004_checklist%22%3Afalse%2C%22008_template_variants%22%3Afalse%2C%22006_cloud_opt_in%22%3A%22control%22%2C%22010_relevant_usecase%22%3A%22control%22%2C%22schema-view%22%3Atrue%7D%2C%22%24feature_flag_payloads%22%3A%7B%7D%2C%22distinct_id%22%3A%22a13b88bcc4f075601cb03976e302271640b69ef501a91a6df62cec4b5d57da7c%23e54e66e8-04c6-4faf-be7c-c2420c664e74%22%2C%22%24device_id%22%3A%22018a2b9e-7557-79eb-bfa1-dace9620ffc5%22%2C%22%24user_state%22%3A%22identified%22%2C%22%24user_id%22%3A%22a13b88bcc4f075601cb03976e302271640b69ef501a91a6df62cec4b5d57da7c%23e54e66e8-04c6-4faf-be7c-c2420c664e74%22%2C%22%24stored_person_properties%22%3A%7B%22instance_id%22%3A%22a13b88bcc4f075601cb03976e302271640b69ef501a91a6df62cec4b5d57da7c%22%2C%22created_at_timestamp%22%3A1691497889718%7D%2C%22%24sesid%22%3A%5B1695986714631%2C%22018ae07f-7f1e-7de3-afcc-9c25457f1d36%22%2C1695983566622%5D%2C%22%24session_recording_enabled_server_side%22%3Afalse%2C%22%24autocapture_disabled_server_side%22%3Afalse%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FA06TwPq77fL1jqX9MGH9aHZvl9HHmfMSNWG%2Bb3ikb%2BKTJn%2BItYhxjBZc7XY5R%2FYcyZ0CdfelKdCdX02rXTsdvfaVIPt9vcE1xZJSUT9%2FKZZRDnLwTg4Trh5IXi5oImLM%2B9R5duZPoIg%3D%3D",
            "sec-ch-ua": "\"Google Chrome\";v=\"117\", \"Not;A=Brand\";v=\"8\", \"Chromium\";v=\"117\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "195.224.58.58",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "id": "Vuerdt8JErJ7XwoD",
      "name": "code"
    },
    {
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "id": "evqsbisrBK9HqVQU",
      "name": "Merge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-09-30T10:59:20.000Z",
  "versionId": "9900a911-f32b-4854-9f21-ec82b9275df5"
}