workflowsUtility: Warehouse Order Point Hookup.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-13T14:34:15.980Z",
  "id": "7oLWKvLeIE8unxOk",
  "name": "Utility: Warehouse Order Point Hookup",
  "nodes": [
    {
      "parameters": {},
      "id": "56f492eb-c0c5-469b-86f0-4d7c330e3f54",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "vendor_id",
              "value": "={{ $json.globals[0].PartnerId }}"
            }
          ]
        }
      },
      "id": "6e748fdc-65e1-4c32-ac14-6f0eb9617de1",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierinfo WHERE globals LIKE '%WarehouseSupId%'",
        "options": {}
      },
      "id": "2d58750a-e19f-432e-9677-2b123b1c6c43",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        340,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a6c0a550-5caf-4966-abef-127f41e5237a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"id\",product_tmpl_id FROM {{ \"index_\" + $json.name.toLowerCase()}} LIMIT 50",
        "options": {}
      },
      "id": "d1fad95d-e307-4457-9328-247fce17b816",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1240,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ JSON.parse($json.globals) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb76d2d6-84d4-48aa-b0a1-07ebed7656c8",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "product_id"
            }
          ]
        },
        "resolve": "preferInput1",
        "fuzzyCompare": true,
        "options": {
          "skipFields": "orderpoint_id,product_tmpl_id"
        }
      },
      "id": "bf48b345-519e-4b9a-a08a-2b7d017b3af2",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1620,
        180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "id",
              "value": "={{ $json.product_id[0]}}"
            },
            {
              "name": "orderpoint_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd7e517b-dfed-46d0-83ac-075667ff1c1d",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1460,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "company_id",
              "fieldValue": "={{ 1 }}"
            },
            {
              "fieldName": "location_id",
              "fieldValue": "={{8}}"
            },
            {
              "fieldName": "name",
              "fieldValue": "=OP/AUTO/{{$('Split In Batches').item.json.globals[0].SupplierName.toUpperCase() + \"/\" + $json.product_tmpl_id}}"
            },
            {
              "fieldName": "product_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "product_max_qty",
              "fieldValue": "0"
            },
            {
              "fieldName": "product_min_qty",
              "fieldValue": "0"
            },
            {
              "fieldName": "qty_multiple",
              "fieldValue": "0"
            },
            {
              "fieldName": "trigger",
              "fieldValue": "auto"
            },
            {
              "fieldName": "warehouse_id",
              "fieldValue": "={{ 1 }}"
            },
            {
              "fieldName": "route_id",
              "fieldValue": "={{ 7 }}"
            },
            {
              "fieldName": "vendor_id",
              "fieldValue": "={{ $('Split In Batches').item.json.globals[0].PartnerId }}"
            },
            {
              "fieldName": "show_supplier",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldName": "supplier_id",
              "fieldValue": "={{ $('Split In Batches').item.json.globals[0].WarehouseSupId }}"
            }
          ]
        }
      },
      "id": "d89dcac9-c75b-4d60-90a9-b8dec4fa1654",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1980,
        400
      ],
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "id",
            "product_id",
            "product_tmpl_id",
            "vendor_id",
            "supplier_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "operator": "like",
              "value": "=OP/AUTO/"
            }
          ]
        }
      },
      "id": "596288d1-cb5e-4783-aac4-6deedb1b5abe",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        -180
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-14T10:33:45.000Z",
  "versionId": "8eba84ab-6851-4471-9f0f-d3b0bdfb6deb"
}