workflowsUpdate: unintegrated-supplier-routine.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-21T12:18:54.196Z",
  "id": "GFERHbE1XdHloze8",
  "name": "Update: unintegrated-supplier-routine",
  "nodes": [
    {
      "parameters": {
        "path": "unintegrated-supplier-routine",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a6e9d81c-eb11-4060-9884-e0defc168b5c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        420
      ],
      "webhookId": "8f041fef-ac5f-4e85-b9c6-393c580ad02a"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "name",
            "product_tag_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "allow_out_of_stock_order",
              "value": "={{true}}"
            },
            {
              "fieldName": "product_tag_ids",
              "operator": "in",
              "value": "={{ $json.body.globals.ProductTagId }}"
            }
          ]
        }
      },
      "id": "a9afe81e-85fc-4af8-abef-d4d680a06f1d",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1040,
        420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "allow_out_of_stock_order",
              "fieldValue": "={{ false }}"
            }
          ]
        }
      },
      "id": "36fc4ae3-c9f0-4e11-ae70-79d8d824aa2b",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1580,
        280
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\"success\": true}];"
      },
      "id": "136933e5-5442-4e32-9d14-3297413f46cd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e49406f9-ea32-48ee-9ec8-75386d03ff88",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\"success\": true}];"
      },
      "id": "4d39f176-8dc7-4bff-88b7-d2df828ea910",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        560
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-21T12:49:34.000Z",
  "versionId": "3159f7dc-4acc-4ae4-9a8e-e83cd3394b36"
}