workflowsData Update: GENERIC: Create: create-brand-write.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-05T16:22:47.455Z",
  "id": "YVPcrPR5FOy6YCWN",
  "name": "Data Update: GENERIC: Create: create-brand-write",
  "nodes": [
    {
      "parameters": {
        "path": "create-brand-write",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e4b1b7ab-caf0-45c2-ad83-c885d3646c52",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        600
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f9149e6-9b63-4439-abc5-44aab2bbfe2e",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "attribute_id",
              "value": "={{1}}"
            }
          ]
        }
      },
      "id": "72ad1847-7851-41df-9d27-6d955ac4fcf6",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        840,
        600
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} SET brand = {{$json.id}} WHERE brand = {{\"'\"+$json.name\n        .replace(/\\\\/g, \"\\\\\\\\\")\n        .replace(/\\'/g, \"''\")\n        .replace(/\\\"/g, \"\\\\\\\"\")\n        .replace(/\\n/g, \"\\\\\\n\")\n        .replace(/\\r/g, \"\\\\\\r\")\n        .replace(/\\x00/g, \"\\\\\\x00\")\n        .replace(/\\x1a/g, \"\\\\\\x1a\")+\"'\"}};",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "5fa379ec-cfa5-4332-968a-ba9b3441595d",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1060,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "axios/0.21.4",
            "content-length": "230",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "x-forwarded-for": "172.21.0.1",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "globals": {
              "SupplierName": "Madison",
              "PartnerId": 47,
              "ProductTagId": 8,
              "LeadTimeAddition": 3,
              "Webhook": "update-madison",
              "LastCount": "20052",
              "CreateSequence": "create-categ-sync"
            },
            "name": "Madison",
            "create-sequence": "create-categ-sync"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-08T15:53:13.355Z",
      "updatedAt": "2023-08-08T15:53:13.355Z",
      "id": "ojpualuYNuuEDwh1",
      "name": "odoo"
    },
    {
      "createdAt": "2023-08-12T15:12:53.694Z",
      "updatedAt": "2023-08-12T15:12:53.694Z",
      "id": "veItN06CNprBqx4u",
      "name": "webhook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-10-02T08:15:36.000Z",
  "versionId": "2427914e-dec9-42ae-8000-8f3481baad57"
}