workflowsData Sync: CREATE: GENERIC: create-size-sync.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync With Standardised Sizes": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract True Sizes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract True Sizes": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sizes to prevent dupliction": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Create Attribute Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Attribute Value": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Variants (Size)": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dump blanks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Sync With Standardised Sizes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Clear Sizes to prevent dupliction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Extract Variants (Size)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-05T12:03:57.098Z",
  "id": "paNg5K6ryQxjUfG3",
  "name": "Data Sync: CREATE: GENERIC: create-size-sync",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "alias",
              "value": "={{ $json[\"alias\"].split(\"|\")}}"
            }
          ]
        },
        "options": {}
      },
      "id": "869333ca-c137-4bf7-a016-851b53e4fe35",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2040,
        1520
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "alias",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "7fdc608e-b387-4eda-a3db-b25a4d062312",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2200,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "cf98ec61-fa4f-4f71-a79a-c85d5d1ff98f",
      "name": "Sync With Standardised Sizes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        1520
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "6ad7c87e-e93f-4f2f-a25f-d6727bde6ae9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2820,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "6f475a1c-e320-4dd0-93f2-d1122f17f486",
      "name": "Extract True Sizes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3020,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "f7ef8c3b-3730-4efd-b99c-8af73f97fd90",
      "name": "Clear Sizes to prevent dupliction",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE `Transit-{{ $(\"When Called By Another Workflow\").first().json[\"Name\"] }}` SET Size = NULL WHERE StandardSize IS NOT NULL;"
      },
      "id": "a29c2a79-761d-4826-abfb-a70cce9773f0",
      "name": "MySQL3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        3440,
        1160
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "attribute_id",
              "value": "={{77}}"
            }
          ]
        }
      },
      "id": "6ea3e996-7f81-4b04-9452-24b53d6fc224",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2220,
        1740
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "size"
            }
          ]
        },
        "options": {}
      },
      "id": "a474fc3e-1ee2-43a4-b0d7-3bd8f8cd7d21",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 1,
      "position": [
        2620,
        1840
      ]
    },
    {
      "parameters": {},
      "id": "102f15db-03cb-4dd9-8ed5-1f67e3dcf097",
      "name": "Create Attribute Value",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3020,
        2000
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "attribute_id",
              "fieldValue": "={{77}}"
            },
            {
              "fieldName": "name",
              "fieldValue": "={{ $json[\"size\"] }}"
            }
          ]
        }
      },
      "id": "6ab3db3f-45d0-4d60-bb99-7e301dbce55e",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3560,
        2000
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {},
      "id": "1cc25b77-8ebe-4023-b538-a5a97a51d524",
      "name": "Extract Variants (Size)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1720,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"size\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aedc804d-c11c-4d43-9510-d0fd28a47f94",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3240,
        2000
      ]
    },
    {
      "parameters": {},
      "id": "2035ea4e-1c25-4c60-ade4-c81d316bcc08",
      "name": "dump blanks",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3240,
        2220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{\"`Transit-\"+ $(\"When Called By Another Workflow\").first().json[\"Name\"]+\"`\"  }} SET Size = {{\"'\"+$json.name+\"'\"}} WHERE Size = {{\"'\"+$json.Alias+\"'\"}};",
        "options": {}
      },
      "id": "d6f3d3df-ab82-4eff-9e71-63c3752ae20d",
      "name": "MySQL6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1740,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "path": "create-size-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2cd53b3d-b483-4150-a47b-ac50c7d5c2c8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1020,
        1520
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd4927f3-6dff-40b1-8c88-26d75e8e709c",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1200,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name,id,{{ $('Globals').first().json.name.toLowerCase() }}alias AS alias FROM odoodata.map_sizelisting WHERE {{ $('Globals').first().json.name.toLowerCase() }}alias IS NOT NULL;  ",
        "options": {}
      },
      "id": "4330a2b1-a9b9-4d52-a5ce-559fd9e389d2",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1640,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE {{\"datatransit.transit_\"+ $(\"Globals\").first().json.name.toLowerCase()  }} SET Size = {{\"'\"+$json.name+\"'\"}} WHERE Size = {{\"'\"+$json.alias+\"'\"}};",
        "options": {}
      },
      "id": "d7576da5-1a90-46a7-86c3-485114ff05d9",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2500,
        1320
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE datatransit.transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} SET standardsize = {{$json.id}} WHERE \"size\" = {{\"'\"+$json.name+\"'\"}};",
        "options": {}
      },
      "id": "35ebc23b-2b6e-48b5-9857-e37f78bcff6f",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        3180,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE datatransit.transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} SET size = NULL WHERE standardsize IS NOT NULL;",
        "options": {}
      },
      "id": "27764f77-050b-4c5b-a5e7-d9f73b465acf",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        3520,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE datatransit.transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} SET size = INITCAP(size) WHERE size IS NOT NULL;",
        "options": {}
      },
      "id": "af28b3dd-1a1b-417a-bc2f-ceba33ccffec",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1980,
        1960
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT(Size) FROM datatransit.transit_{{ $(\"Globals\").first().json[\"name\"].toLowerCase() }} WHERE size IS NOT NULL;",
        "options": {}
      },
      "id": "2aa7e9bf-bc25-476d-8c67-b304863deadb",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2220,
        1960
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "axios/0.21.4",
            "content-length": "230",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "x-forwarded-for": "172.21.0.1",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "globals": {
              "SupplierName": "Madison",
              "PartnerId": 47,
              "ProductTagId": 8,
              "LeadTimeAddition": 3,
              "Webhook": "update-madison",
              "LastCount": "20052",
              "CreateSequence": "create-categ-sync"
            },
            "name": "Madison",
            "create-sequence": "create-categ-sync"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-12T15:12:53.694Z",
      "updatedAt": "2023-08-12T15:12:53.694Z",
      "id": "veItN06CNprBqx4u",
      "name": "webhook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-09T18:30:11.000Z",
  "versionId": "2f09dfbc-8cdf-45f9-8a05-475910d535a8"
}