workflowsData Update: GENERIC: Transit Tables: Delist.json
{
  "active": true,
  "connections": {
    "Remove Supplier Line": {
      "main": [
        [
          {
            "node": "Odoo4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Product Tag": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Templates": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Remove Supplier Line",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Product Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-12T10:02:58.021Z",
  "id": "2j04k1KgdEFjYUVy",
  "name": "Data Update: GENERIC: Transit Tables: Delist",
  "nodes": [
    {
      "parameters": {},
      "id": "2475af47-9a72-4f42-9e12-1a9b333bb219",
      "name": "Remove Supplier Line",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        340
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "delete",
        "customResourceId": "={{ $json.id }}"
      },
      "id": "ece58b6b-3219-4e06-b24c-13f7b5c0c11e",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2380,
        120
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "690a53fc-2159-418a-959c-7c137ba7a395",
      "name": "Remove Product Tag",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "get",
        "customResourceId": "={{ $json.product_tmpl_id }}",
        "options": {
          "fieldsList": [
            "barcode",
            "display_name",
            "product_tag_ids",
            "allow_out_of_stock_order",
            "out_of_stock_message"
          ]
        }
      },
      "id": "51d5ac49-0983-4ce1-926a-0813cf885d30",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1740,
        680
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5eb83ef5-5adc-4e94-ae5c-d05314296a9d",
      "name": "Product Templates",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        680
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a30bba8c-eb2d-45eb-9617-fb47acf99a7b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1560,
        680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "product_tag_ids",
              "fieldValue": "={{ $json.product_tag_ids.length == 0 ? false : $json.product_tag_ids }}"
            },
            {
              "fieldName": "allow_out_of_stock_order",
              "fieldValue": "={{$json.product_tag_ids.length == 0 ? false : $json.allow_out_of_stock_order == true ? true : false}}"
            },
            {
              "fieldName": "out_of_stock_message",
              "fieldValue": "={{$json.product_tag_ids.length == 0 ? \"<p>Currently Unavailable</p>\" : $json.allow_out_of_stock_order == true ? $json.out_of_stock_message : \"<p>Currently Unavailable</p>\"}}"
            }
          ]
        }
      },
      "id": "35b6e92c-d041-4cf1-b2e6-8c60288659ec",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2480,
        680
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const removal = $('Globals').first().json.globals.ProductTagId;\n  const newArray = item.json.product_tag_ids.filter(supplier => supplier != removal);\n  item.json.product_tag_ids = newArray;\n}\n\nreturn $input.all();"
      },
      "id": "7373f19f-5122-40ed-8016-2d7e31ac488e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2320,
        680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "display_name",
            "id"
          ]
        }
      },
      "id": "b88b6385-9819-421f-b372-4e56e3f15da9",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        800,
        380
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*\nFROM {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase() }} a\nWHERE  a.barcode\nNOT IN (\n    SELECT b.ean\n      FROM {{\"odoodata.feed_\"+$json.name.toLowerCase() }} b\n        );",
        "options": {}
      },
      "id": "c3554034-cf96-48c5-b965-d4929f8f49af",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        920,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ 20 in $json.product_tag_ids  }}",
              "value2": true
            },
            {
              "value1": "={{ 19 in $json.product_tag_ids  }}",
              "value2": true
            },
            {
              "value1": "={{ 7 in $json.product_tag_ids  }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fdaa7ff1-0acf-40e8-90d1-0964f3bc3dbd",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1920,
        680
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.body.json.name }}"
            },
            {
              "name": "globals",
              "value": "={{ $json.body.json.globals }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a3552ea-bf1b-46ba-a2f7-9d239e0a1fea",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1140,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*\nFROM odoodata.map_supplierpricelist a\nWHERE  a.product_tmpl_id \nNOT IN (\n    SELECT b.product_tmpl_id::CHAR\n      FROM datatransit.{{\"index_\"+$json.name.toLowerCase() }} b\n        INNER JOIN odoodata.{{\"prices_\"+ $json.name.toLowerCase() }} c\n          ON b.barcode::CHAR = c.barcode::CHAR) AND a.partner_id::NUMERIC = {{ $('Globals').first().json.globals[0].PartnerId }};",
        "options": {}
      },
      "id": "9666f5c2-c256-4b47-a3ef-9bbc31700551",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        800,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "path": "transit-tables-delist",
        "options": {}
      },
      "id": "9003de34-6e73-4d0f-9345-1fd1a4b753a2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        920,
        880
      ],
      "webhookId": "5c654cb3-db1b-4e9d-b169-625c5d46af46"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "f2b360b3-28a7-4f2f-8aca-e6423f4f8883",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        100
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tmpl_id",
              "value": "={{ $json.product_tmpl_id }}"
            }
          ]
        }
      },
      "id": "b6995ab3-1f7c-4ef0-b587-52e57416e60e",
      "name": "Odoo5",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        280
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "7c7a20d8-3025-4f44-9f8b-604d264fcef8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f012a7ae-1596-40f6-a01e-e32c690c007f",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2180,
        200
      ]
    },
    {
      "parameters": {},
      "id": "fbaf9568-b584-4ae2-b7c6-b33774192188",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2380,
        300
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "7483945f-1d49-402e-8a81-570ab73f061b",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2660,
        520
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "axios/0.21.4",
            "content-length": "188",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "baggage": "sentry-environment=production,sentry-release=1.1.1,sentry-public_key=1f954e089a054b8e943ae4f4042b2bff,sentry-trace_id=82f45211d6fb4b11974b13de0b955215",
            "content-type": "application/json",
            "sentry-trace": "82f45211d6fb4b11974b13de0b955215-9640d60357971c95-0",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "json": {
              "name": "Madison",
              "globals": {
                "SupplierName": "Madison",
                "PartnerId": 47,
                "ProductTagId": 8,
                "LeadTimeAddition": 3,
                "Webhook": "update-madison",
                "LastCount": "20061"
              }
            },
            "pairedItem": {
              "item": 0
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "4S5wvtegUIvgvqYs",
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "name": "PostgreSQL"
    },
    {
      "id": "9sOXgdnAKkDHmBZQ",
      "createdAt": "2023-08-10T13:01:44.729Z",
      "updatedAt": "2023-08-10T13:01:44.729Z",
      "name": "if"
    },
    {
      "id": "Vuerdt8JErJ7XwoD",
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "name": "code"
    },
    {
      "id": "cEh6fwE32oIO00B5",
      "createdAt": "2023-08-10T13:01:36.942Z",
      "updatedAt": "2023-08-10T13:01:36.942Z",
      "name": "split in batches"
    },
    {
      "id": "ojpualuYNuuEDwh1",
      "createdAt": "2023-08-08T15:53:13.355Z",
      "updatedAt": "2023-08-08T15:53:13.355Z",
      "name": "odoo"
    },
    {
      "id": "veItN06CNprBqx4u",
      "createdAt": "2023-08-12T15:12:53.694Z",
      "updatedAt": "2023-08-12T15:12:53.694Z",
      "name": "webhook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-23T14:11:54.000Z",
  "versionId": "6b4ca758-a59f-42e9-9aa2-7de3564cd38e"
}