workflowsData Update: GENERIC: Create: Template Creation.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-08T14:12:04.251Z",
  "id": "R8pRpHNtkgwg5leJ",
  "name": "Data Update: GENERIC: Create: Template Creation",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $(\"Globals\").first().json.name }}"
            },
            {
              "name": "globals",
              "value": "={{ $(\"Globals\").first().json.globals }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47e78862-dcd5-4ce1-b84a-c2e8c3ce9b3d",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        620
      ]
    },
    {
      "parameters": {
        "path": "create-template",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1a3c716c-8e9b-42ba-8867-1371ff86528f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        980,
        620
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8add5485-b730-4fe1-b8df-0d902d057bf1",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1160,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT(variantgrouping) FROM {{\"transit_\"+$(\"Globals\").first().json[\"name\"].toLowerCase() }};",
        "options": {}
      },
      "id": "63f6dbcc-0c62-4fa6-8e50-9c810835ff9d",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1380,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM {{\"transit_\"+ $(\"Globals\").first().json[\"name\"].toLowerCase() }} WHERE variantgrouping = {{\"'\"+$('Split In Batches').item.json.variantgrouping\n         .replace(\"\\\\\", \"\\\\\\\\\")\n         .replace(\"'\", \"''\")\n         .replace(\"\\n\", \"\\\\\\n\")\n         .replace(\"\\r\", \"\\\\\\r\")\n         .replace(\"\\x00\", \"\\\\\\x00\")\n         .replace(\"\\x1a\", \"\\\\\\x1a\")+\"'\"}};",
        "options": {}
      },
      "id": "7c63b232-f04d-4d1b-991e-f827b092ecfa",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2140,
        760
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook-test/create-template-subroutine",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "35e9bc2a-7064-456b-885d-4533dff72eaa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1960,
        760
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "9a2ecf93-1a42-42b7-8f4b-e4022d372f6a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1800,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "0069292c-a923-4c00-b470-f51d8b5714f8",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1960,
        980
      ],
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-10T13:01:44.729Z",
      "updatedAt": "2023-08-10T13:01:44.729Z",
      "id": "9sOXgdnAKkDHmBZQ",
      "name": "if"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-10T13:01:36.942Z",
      "updatedAt": "2023-08-10T13:01:36.942Z",
      "id": "cEh6fwE32oIO00B5",
      "name": "split in batches"
    },
    {
      "createdAt": "2023-08-12T15:12:53.694Z",
      "updatedAt": "2023-08-12T15:12:53.694Z",
      "id": "veItN06CNprBqx4u",
      "name": "webhook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-26T12:15:07.000Z",
  "versionId": "64511ae7-9ed6-4960-9337-f66544bf0e44"
}