workflowsData Update: Madison: Create: create-madison-extrainfo-write.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Concat Attribute Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat Attribute Ids": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-08T12:54:37.860Z",
  "id": "igRAnprt8KhIBDTX",
  "name": "Data Update: Madison: Create: create-madison-extrainfo-write",
  "nodes": [
    {
      "parameters": {
        "path": "create-madison-extrainfo-write",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f8c4f895-4333-4895-9560-fa66756a50ef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        900,
        640
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce96eded-a383-4c66-b7d9-e41f378dec1d",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1080,
        640
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.attribute.value",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "name"
          ]
        }
      },
      "id": "6ce6c16a-1c4e-4753-8ce2-b2ced6f938ae",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1240,
        640
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE `Transit-Madison` SET attribute_ids = CONCAT_WS(\",\",attribute_ids,TechnicalSpec);"
      },
      "id": "2ee0394d-0e0d-4d06-a2e5-85978831555c",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1620,
        840
      ],
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transit_madison SET technicalspec = {{$json.id}} WHERE technicalspec = {{\"'\"+$json.name.replace(/\\\\/g, \"\\\\\\\\\")\n        .replace(/\\'/g, \"''\")\n        .replace(/\\n/g, \"\\\\\\n\")\n        .replace(/\\r/g, \"\\\\\\r\")\n        .replace(/\\x00/g, \"\\\\\\x00\")\n        .replace(/\\x1a/g, \"\\\\\\x1a\")+\"'\"}};",
        "options": {}
      },
      "id": "12728d6c-2022-46d1-bffd-aa91a2d23da8",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1440,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {},
      "id": "5de68783-226a-42c7-97ce-8c854bfb05ff",
      "name": "Concat Attribute Ids",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        640
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE transit_madison SET attribute_ids = CONCAT_WS(',',attribute_ids,technicalspec::NUMERIC);",
        "options": {}
      },
      "id": "826095e3-6e16-431a-9fd7-66681b40e2bd",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1840,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "axios/0.21.4",
            "content-length": "230",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "x-forwarded-for": "172.21.0.1",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "globals": {
              "SupplierName": "Madison",
              "PartnerId": 47,
              "ProductTagId": 8,
              "LeadTimeAddition": 3,
              "Webhook": "update-madison",
              "LastCount": "20052",
              "CreateSequence": "create-categ-sync"
            },
            "name": "Madison",
            "create-sequence": "create-categ-sync"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-08T13:55:12.000Z",
  "versionId": "bd702923-9334-4213-b468-f11ac85c3ae7"
}