workflowsUtility: Warehouse Order Point Hookup.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-13T14:34:15.980Z",
  "id": "7oLWKvLeIE8unxOk",
  "name": "Utility: Warehouse Order Point Hookup",
  "nodes": [
    {
      "parameters": {},
      "id": "56f492eb-c0c5-469b-86f0-4d7c330e3f54",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "product_tmpl_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "vendor_id",
              "value": "={{ Number($json.globals[0].PartnerId) }}"
            }
          ]
        }
      },
      "id": "6e748fdc-65e1-4c32-ac14-6f0eb9617de1",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierinfo WHERE name = 'Madison'",
        "options": {}
      },
      "id": "2d58750a-e19f-432e-9677-2b123b1c6c43",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        340,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a6c0a550-5caf-4966-abef-127f41e5237a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"id\",product_tmpl_id FROM {{ \"index_\" + $json.name.toLowerCase()}}",
        "options": {}
      },
      "id": "d1fad95d-e307-4457-9328-247fce17b816",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1240,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ JSON.parse($json.globals) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb76d2d6-84d4-48aa-b0a1-07ebed7656c8",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "product_tmpl_id",
              "field2": "product_tmpl_id"
            }
          ]
        },
        "resolve": "mix",
        "options": {}
      },
      "id": "bf48b345-519e-4b9a-a08a-2b7d017b3af2",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1620,
        180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "product_tmpl_id",
              "value": "={{ $json.product_tmpl_id[0] }}"
            },
            {
              "name": "orderpoint_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd7e517b-dfed-46d0-83ac-075667ff1c1d",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1460,
        400
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "company_id"
            },
            {
              "fieldName": "location_id"
            },
            {
              "fieldName": "name"
            },
            {
              "fieldName": "product_id"
            },
            {
              "fieldName": "product_max_qty"
            },
            {
              "fieldName": "product_min_qty"
            },
            {
              "fieldName": "qty_multiple"
            },
            {
              "fieldName": "trigger"
            },
            {
              "fieldName": "warehouse_id"
            }
          ]
        }
      },
      "id": "d89dcac9-c75b-4d60-90a9-b8dec4fa1654",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1820,
        20
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "stock.warehouse.orderpoint",
        "operation": "getAll",
        "options": {}
      },
      "id": "596288d1-cb5e-4783-aac4-6deedb1b5abe",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        -180
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    }
  ],
  "pinData": {
    "Odoo2": [
      {
        "json": {
          "id": 267,
          "name": "OP/00028",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            3417,
            "[8JA 9802] SM-BH90 2.1 mm bore olive and connecter insert"
          ],
          "product_id": [
            6007,
            "[8JA 9802] SM-BH90 2.1 mm bore olive and connecter insert"
          ],
          "product_category_id": [
            50,
            "Components / Brakes & Shifters"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 6,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 8,
          "qty_forecast": 6,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00028",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-03-08 14:56:20",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 307,
          "name": "OP/00029",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            5122,
            "[PBAD160F] Adapter for post type calliper"
          ],
          "product_id": [
            8707,
            "[PBAD160F] Adapter for post type calliper"
          ],
          "product_category_id": [
            50,
            "Components / Brakes & Shifters"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 8,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 5,
          "qty_forecast": 5,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00029",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-03-13 13:20:24",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 308,
          "name": "OP/00030",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19711,
            "Knog Oi Luxe Bell"
          ],
          "product_id": [
            63624,
            "[KNG12126] Knog Oi Luxe Bell (Small, Black)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00030",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-13 18:30:05",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 313,
          "name": "OP/00035",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19711,
            "Knog Oi Luxe Bell"
          ],
          "product_id": [
            63625,
            "[KNG12127] Knog Oi Luxe Bell (Small, Silver)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 10,
          "qty_forecast": 10,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00035",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-13 18:30:42",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 314,
          "name": "OP/00036",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19711,
            "Knog Oi Luxe Bell"
          ],
          "product_id": [
            63626,
            "[KNG12128] Knog Oi Luxe Bell (Small, Brass)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00036",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-13 18:30:54",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 315,
          "name": "OP/00037",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19711,
            "Knog Oi Luxe Bell"
          ],
          "product_id": [
            63627,
            "[KNG12129] Knog Oi Luxe Bell (Large, Black)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 1,
          "qty_forecast": 1,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00037",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-13 18:31:02",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 317,
          "name": "OP/00039",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19711,
            "Knog Oi Luxe Bell"
          ],
          "product_id": [
            63629,
            "[KNG12131] Knog Oi Luxe Bell (Large, Brass)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00039",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-13 18:31:15",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 323,
          "name": "OP/00040",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19767,
            "[KNG12980] Knog Blinder Mini Square Front Light"
          ],
          "product_id": [
            63702,
            "[KNG12980] Knog Blinder Mini Square Front Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 5,
          "qty_forecast": 5,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00040",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 09:57:24",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 324,
          "name": "OP/00041",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19768,
            "[KNG12981] Knog Blinder Mini Skull Front Light"
          ],
          "product_id": [
            63703,
            "[KNG12981] Knog Blinder Mini Skull Front Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 0,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 0,
          "qty_forecast": 0,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00041",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 09:59:25",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 325,
          "name": "OP/00042",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19771,
            "[KNG12984] Knog Blinder Mini Square Rear Light"
          ],
          "product_id": [
            63706,
            "[KNG12984] Knog Blinder Mini Square Rear Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 9,
          "qty_forecast": 9,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00042",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:00:43",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 326,
          "name": "OP/00043",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19772,
            "[KNG12985] Knog Blinder Mini Skull Rear Light"
          ],
          "product_id": [
            63707,
            "[KNG12985] Knog Blinder Mini Skull Rear Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 4,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00043",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:01:10",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 327,
          "name": "OP/00044",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19773,
            "[KNG12986] Knog Blinder Mini Cross Rear Light"
          ],
          "product_id": [
            63708,
            "[KNG12986] Knog Blinder Mini Cross Rear Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 4,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00044",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:01:36",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 328,
          "name": "OP/00045",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19774,
            "[KNG12987] Knog Blinder Mini Love Rear Light"
          ],
          "product_id": [
            63709,
            "[KNG12987] Knog Blinder Mini Love Rear Light"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 4,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00045",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:02:47",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 329,
          "name": "OP/00046",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19777,
            "[KNG12990] Knog Blinder V Light Bolt"
          ],
          "product_id": [
            63712,
            "[KNG12990] Knog Blinder V Light Bolt"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 2,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00046",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:15:17",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 330,
          "name": "OP/00047",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            19778,
            "[KNG12991] Knog Blinder V Light Traffic"
          ],
          "product_id": [
            63713,
            "[KNG12991] Knog Blinder V Light Traffic"
          ],
          "product_category_id": [
            71,
            "Accessories / Lighting"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 4,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 4,
          "qty_forecast": 4,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00047",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-14 10:15:41",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            204969,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 332,
          "name": "OP/00048",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            6407,
            "[600 9891-1] Road / MTB stainless steel gear inner wire"
          ],
          "product_id": [
            10468,
            "[600 9891-1] Road / MTB stainless steel gear inner wire"
          ],
          "product_category_id": [
            50,
            "Components / Brakes & Shifters"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 4,
          "qty_forecast": 4,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00048",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-03-15 12:56:04",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            200364,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 337,
          "name": "OP/00049",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            49222,
            "Touring/s]"
          ],
          "product_id": [
            139935,
            "[TYSEMR735] Touring/s] (700x35)"
          ],
          "product_category_id": [
            34,
            "Components / Tyres"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 6,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00049",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-15 13:57:34",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            109667,
            "Chicken Cycle Kit"
          ],
          "vendor_id": [
            68,
            "Chicken Cycle Kit"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 366,
          "name": "OP/00050",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            5085,
            "[PBA0112] Organic disc brake pads for Magura MT"
          ],
          "product_id": [
            8670,
            "[PBA0112] Organic disc brake pads for Magura MT"
          ],
          "product_category_id": [
            50,
            "Components / Brakes & Shifters"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 12,
          "qty_forecast": 12,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00050",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-03-20 18:34:53",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            202568,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 414,
          "name": "OP/00051",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59961,
            "[bulk-hg601] Unpackaged HG40 Chain (copy)"
          ],
          "product_id": [
            166910,
            "[bulk-hg601] Unpackaged HG40 Chain (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 25,
          "qty_multiple": 20,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-13",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": -2,
          "qty_forecast": 37,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00051",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-23 12:01:22",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 419,
          "name": "OP/00052",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            5206,
            "[QKPMP32BE] PMP-3.2B - Micro Pump Blue"
          ],
          "product_id": [
            8793,
            "[QKPMP32BE] PMP-3.2B - Micro Pump Blue"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 5,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00052",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-25 16:25:51",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 420,
          "name": "OP/00053",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            5207,
            "[QKPMP42] PMP-4.2 - Mini Pump Black"
          ],
          "product_id": [
            8794,
            "[QKPMP42] PMP-4.2 - Mini Pump Black"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 5,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 4,
          "qty_forecast": 4,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00053",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-25 16:26:06",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 421,
          "name": "OP/00054",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            5208,
            "[QKPMP42B] PMP-4.2B - Mini Pump Blue"
          ],
          "product_id": [
            8795,
            "[QKPMP42B] PMP-4.2B - Mini Pump Blue"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 5,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00054",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-25 16:26:22",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 456,
          "name": "OP/00056",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            58516,
            "Tempo KinetiCore"
          ],
          "product_id": [
            163295,
            "[CZ2530120] Tempo KinetiCore (Matt White)"
          ],
          "product_category_id": [
            65,
            "Protection / Helmets"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 1,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00056",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-28 13:00:13",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 457,
          "name": "OP/00057",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            58516,
            "Tempo KinetiCore"
          ],
          "product_id": [
            163291,
            "[CZ2530140] Tempo KinetiCore (Blue)"
          ],
          "product_category_id": [
            65,
            "Protection / Helmets"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 1,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00057",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-28 13:00:26",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 458,
          "name": "OP/00058",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            58516,
            "Tempo KinetiCore"
          ],
          "product_id": [
            163296,
            "[CZ2530130] Tempo KinetiCore (Berry)"
          ],
          "product_category_id": [
            65,
            "Protection / Helmets"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 1,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00058",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-28 13:01:11",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 465,
          "name": "OP/00065",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            58516,
            "Tempo KinetiCore"
          ],
          "product_id": [
            163292,
            "[CZ2530110] Tempo KinetiCore (Matt Black)"
          ],
          "product_category_id": [
            65,
            "Protection / Helmets"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 1,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 1,
          "qty_forecast": 1,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00065",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-28 14:11:10",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 466,
          "name": "OP/00066",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            58516,
            "Tempo KinetiCore"
          ],
          "product_id": [
            163294,
            "[CZ2530180] Tempo KinetiCore (Flash Yellow)"
          ],
          "product_category_id": [
            65,
            "Protection / Helmets"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 1,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00066",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-28 14:11:27",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 468,
          "name": "OP/00067",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164563,
            "[BT604885] Fly Tex (White)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 4,
          "qty_forecast": 4,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00067",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:40:28",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 469,
          "name": "OP/00068",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164558,
            "[BT604886] Fly Tex (Black)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 6,
          "qty_forecast": 6,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00068",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:40:41",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 470,
          "name": "OP/00069",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164560,
            "[BT604887] Fly Tex (Red)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00069",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:41:03",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 471,
          "name": "OP/00070",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164559,
            "[BT604888] Fly Tex (Blue)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00070",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:41:14",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 472,
          "name": "OP/00071",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164567,
            "[BT604889] Fly Tex (Clear)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 5,
          "qty_forecast": 5,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00071",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:41:28",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 473,
          "name": "OP/00072",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164566,
            "[BT604890] Fly Tex (Fluoro Yellow)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00072",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:41:44",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 474,
          "name": "OP/00073",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164562,
            "[BT604891] Fly Tex (Grey)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00073",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:41:55",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 475,
          "name": "OP/00074",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59002,
            "Fly Tex"
          ],
          "product_id": [
            164564,
            "[BT604892] Fly Tex (Brown)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00074",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:42:04",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 476,
          "name": "OP/00075",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59003,
            "Fly Tex MTB"
          ],
          "product_id": [
            164570,
            "[BT604895] Fly Tex MTB (Clear)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00075",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:44:15",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 477,
          "name": "OP/00076",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            59003,
            "Fly Tex MTB"
          ],
          "product_id": [
            164569,
            "[BT604897] Fly Tex MTB (Black)"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 2,
          "product_max_qty": 3,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00076",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:44:28",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            192009,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 479,
          "name": "OP/00077",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            14326,
            "Standard 700c 20/28C Fv Presta"
          ],
          "product_id": [
            42323,
            "[TYV0257] Standard 700c 20/28C Fv Presta (Presta 80mm, 700 X 20-28c)"
          ],
          "product_category_id": [
            43,
            "Components / Tubes & Valves"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2025-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 13,
          "qty_forecast": 13,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00077",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 09:59:59",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            194225,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 480,
          "name": "OP/00078",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            14326,
            "Standard 700c 20/28C Fv Presta"
          ],
          "product_id": [
            42320,
            "[TYV0258] Standard 700c 20/28C Fv Presta (Presta 48mm, 700 X 20-28c)"
          ],
          "product_category_id": [
            43,
            "Components / Tubes & Valves"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2025-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 8,
          "qty_forecast": 8,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00078",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 10:00:21",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            194225,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 481,
          "name": "OP/00079",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            14326,
            "Standard 700c 20/28C Fv Presta"
          ],
          "product_id": [
            42321,
            "[TYV0261] Standard 700c 20/28C Fv Presta (Presta 48mm, 700 X 28-42c)"
          ],
          "product_category_id": [
            43,
            "Components / Tubes & Valves"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 10,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2025-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 16,
          "qty_forecast": 16,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00079",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-29 10:00:29",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            194225,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 486,
          "name": "OP/00080",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            61221,
            "[BULK-SRAM-BARB-OLIVE] Unpackaged HG601 (copy)"
          ],
          "product_id": [
            170588,
            "[BULK-SRAM-BARB-OLIVE] Unpackaged HG601 (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 10,
          "product_max_qty": 60,
          "qty_multiple": 50,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-13",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": 38,
          "qty_forecast": 38,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00080",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-30 09:40:16",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 490,
          "name": "OP/00081",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            61505,
            "[bulk-hg53] Unpackaged HG40 Chain (copy)"
          ],
          "product_id": [
            172367,
            "[bulk-hg53] Unpackaged HG40 Chain (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 25,
          "qty_multiple": 20,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-13",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": 6,
          "qty_forecast": 44,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00081",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-31 10:52:47",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 492,
          "name": "OP/00083",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            61507,
            "[bulk-vbrake] Unpackaged XTR Organic Pads (copy)"
          ],
          "product_id": [
            172369,
            "[bulk-vbrake] Unpackaged XTR Organic Pads (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 5,
          "product_max_qty": 30,
          "qty_multiple": 25,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": 0,
          "qty_forecast": 25,
          "qty_to_order": 0,
          "days_to_order": 3,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00083",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-01 09:10:37",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 537,
          "name": "OP/00087",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            67068,
            "[BULK-Stainless-Gear] Unpackaged Optislick Gear Inner (copy)"
          ],
          "product_id": [
            194437,
            "[BULK-Stainless-Gear] Unpackaged Optislick Gear Inner (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 10,
          "product_max_qty": 110,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-13",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": 101,
          "qty_forecast": 101,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00087",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-12 08:51:50",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 566,
          "name": "OP/00088",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            4818,
            "[LV1030] Adventure First Aid Kit"
          ],
          "product_id": [
            8375,
            "[LV1030] Adventure First Aid Kit"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 1,
          "qty_forecast": 1,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00088",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-16 08:31:14",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            200004,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 567,
          "name": "OP/00089",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            4816,
            "[LV1003] Blister First Aid Kit"
          ],
          "product_id": [
            8373,
            "[LV1003] Blister First Aid Kit"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 1,
          "qty_forecast": 1,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00089",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-16 08:31:40",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            200062,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 568,
          "name": "OP/00090",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            4820,
            "[LV1045] Mountain First Aid Kit"
          ],
          "product_id": [
            8377,
            "[LV1045] Mountain First Aid Kit"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 1,
          "qty_forecast": 1,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00090",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-16 08:32:07",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            201649,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 569,
          "name": "OP/00091",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            4819,
            "[LV1040] Pocket First Aid Kit"
          ],
          "product_id": [
            8376,
            "[LV1040] Pocket First Aid Kit"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 3,
          "qty_forecast": 3,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00091",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-16 08:32:29",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            201744,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 570,
          "name": "OP/00092",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            4817,
            "[LV1025] Trek First Aid Kit"
          ],
          "product_id": [
            8374,
            "[LV1025] Trek First Aid Kit"
          ],
          "product_category_id": [
            70,
            "Accessories"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 1,
          "product_max_qty": 0,
          "qty_multiple": 0,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            10
          ],
          "lead_days_date": "2024-07-16",
          "route_id": [
            7,
            "Buy"
          ],
          "qty_on_hand": 2,
          "qty_forecast": 2,
          "qty_to_order": 0,
          "days_to_order": 0,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00092",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-16 08:33:38",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": false,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": true,
          "supplier_id": [
            206251,
            "Madison"
          ],
          "vendor_id": [
            47,
            "Madison"
          ],
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 602,
          "name": "OP/00093",
          "trigger": "auto",
          "active": true,
          "snoozed_until": false,
          "warehouse_id": [
            1,
            "Biketrax"
          ],
          "location_id": [
            8,
            "BTX/Stock"
          ],
          "product_tmpl_id": [
            75448,
            "[BULK-SM-QLINK-11] Unpackaged HG601 (copy)"
          ],
          "product_id": [
            232256,
            "[BULK-SM-QLINK-11] Unpackaged HG601 (copy)"
          ],
          "product_category_id": [
            86,
            "Workshop / Consumables"
          ],
          "product_uom": [
            1,
            "Units"
          ],
          "product_uom_name": "Units",
          "product_min_qty": 10,
          "product_max_qty": 60,
          "qty_multiple": 50,
          "group_id": false,
          "company_id": [
            1,
            "Biketrax"
          ],
          "allowed_location_ids": [
            7,
            8,
            2,
            1,
            19,
            3
          ],
          "rule_ids": [
            6
          ],
          "lead_days_date": "2024-07-14",
          "route_id": [
            5,
            "Manufacture"
          ],
          "qty_on_hand": 22,
          "qty_forecast": 22,
          "qty_to_order": 0,
          "days_to_order": 1,
          "visibility_days": 0,
          "__last_update": "2024-07-13 11:32:16",
          "display_name": "OP/00093",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-04-21 12:02:44",
          "write_uid": [
            1,
            "BiketraxBot"
          ],
          "write_date": "2024-07-13 11:32:16",
          "show_bom": true,
          "bom_id": false,
          "manufacturing_visibility_days": 0,
          "show_supplier": false,
          "supplier_id": false,
          "vendor_id": false,
          "purchase_visibility_days": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-13T16:00:52.000Z",
  "versionId": "67a7a631-6b18-4304-9fe2-4bb66c1f0ee3"
}