workflowsData Update: Sportline.json
{
  "active": true,
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Sportline Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Transit Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sequence": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transit Tables": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sportline Prep": {
      "main": [
        [
          {
            "node": "Postgres12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-29T11:25:16.582Z",
  "id": "f0rzIaBJ34QeHyGy",
  "name": "Data Update: Sportline",
  "nodes": [
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "7f8af5bc-c944-40d0-a5d2-5c68734dfdd0",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1480,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json.globals)[0]  }}"
            },
            {
              "name": "name",
              "value": "={{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd132bba-41f5-4e18-9717-62c02a064aaa",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        580
      ]
    },
    {
      "parameters": {
        "path": "update-sportline",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3bdcb1ff-fe0b-4a1c-9c68-321538b4bf1b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        780
      ],
      "webhookId": "b22a24a7-1ca6-4be4-a0ce-db68dcfac256"
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "42e8823d-5541-42f0-b7a3-c0adc79c261d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Sportline';",
        "options": {}
      },
      "id": "53dff375-20ce-4f2a-a10c-35df55eae9a5",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/transit-tables",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Globals').first().json }}",
        "options": {}
      },
      "id": "585d159d-73ee-4f8d-ab7a-8e7800296f3c",
      "name": "Transit Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT (productcode) FROM odoodata.upload_sportline;",
        "options": {}
      },
      "id": "5be93ec6-607b-4101-b503-f60eaa334608",
      "name": "Postgres12",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1840,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "largerEqual",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 0.75 }}"
            },
            {
              "value1": "={{ $json.count }}",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 1.25 }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $('Globals').first().json.globals.errorState }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8776de65-0a34-4d4e-af1a-f3dc52cd3566",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        760
      ]
    },
    {
      "parameters": {
        "fromEmail": "info@biketrax.co.uk",
        "toEmail": "luke@biketrax.co.uk",
        "subject": "Sportline Feed Rejected!",
        "text": "=Sportline feed rejected:\n\nExpected Lines: {{$('Globals').first().json.globals.LastCount}} (Range - 75% - 125%)\nRecieved Lines: {{ $json.count }}\n",
        "options": {}
      },
      "id": "b468cc07-2e1c-4e58-b0e2-892b91c4d8ba",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2000,
        1000
      ],
      "credentials": {
        "smtp": {
          "id": "H2cITTqls0BiVgFE",
          "name": "info@biketrax.co.uk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE odoodata.map_supplierinfo SET globals = {{ \"'[\" + JSON.stringify($json.globals) + \"]'\" }} WHERE \"name\" = 'Madison';",
        "options": {}
      },
      "id": "42675eac-de29-466b-96ee-692a387073ad",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2160,
        1220
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $('Globals').first().json.globals }}"
            },
            {
              "name": "globals.errorState",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c406f3cd-84ac-4181-82cf-27e44dc55744",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2000,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "db971119-d097-4657-b047-72ee95ea35a4",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2560,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "create-sequence",
              "value": "={{ $json.globals.CreateSequence.split(\",\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "644f3ef8-7873-4f16-b046-a0abe0ff46ad",
      "name": "Create Sequence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2720,
        760
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "create-sequence",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "0018e90c-c584-4733-9354-8a5f7b094c22",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2880,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/{{ $json['create-sequence'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "856b0308-3ee3-46d1-927e-8c59dae1e6da",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3420,
        760
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f95a894d-b77b-49d2-9225-52bfde02b952",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3100,
        760
      ]
    },
    {
      "parameters": {},
      "id": "5637ab7a-2125-42c9-9057-ee8b65ea1a8a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        1060
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/create-template",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$('Globals').first().json}}",
        "options": {}
      },
      "id": "579df016-3046-4fa3-85f9-f1ff8b7fd2d2",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3620,
        1060
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/sportline-prep",
        "options": {}
      },
      "id": "953d27eb-d83c-4380-a870-031a5a4ec73b",
      "name": "Sportline Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        760
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "id": "Vuerdt8JErJ7XwoD",
      "name": "code"
    },
    {
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "id": "evqsbisrBK9HqVQU",
      "name": "Merge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-09T18:07:58.000Z",
  "versionId": "7d1ee939-57ba-4c73-9eaf-f159dc17312d"
}