workflowsData Update: GENERIC: Process Alter Statements.json
{
  "active": false,
  "connections": {
    "Postgres7": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgreify all column names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgreify all column names": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-10T13:01:15.525Z",
  "id": "Vc6ZgR8vArPNZu09",
  "name": "Data Update: GENERIC: Process Alter Statements",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{\"ALTER TABLE upload_\" + $json.supplier.toLowerCase() + \" \" + $json.alterStatements +\";\" }}",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "a00e846a-2014-4ee5-b95f-520a1b0d6cba",
      "name": "Postgres7",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1960,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "alterStatements",
              "value": "={{ $json.alterStatements.split(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d03bc110-cfa1-40dc-84a6-bfecf4eaf374",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "49c5aea9-ebfa-42ec-bda6-19be422badf0",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1740,
        320
      ]
    },
    {
      "parameters": {},
      "id": "4ba6584c-d7d3-43f7-aaa6-c70d9e0e284f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {},
      "id": "bb66ab87-2c77-4c02-946b-c1e7e6e37564",
      "name": "Postgreify all column names",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT column_name, data_type\nFROM information_schema.columns\nWHERE table_schema = 'odoodata' AND table_name = {{\"'upload_\"+ $(\"Execute Workflow Trigger\").first().json.supplier.toLowerCase()+\"'\"}};",
        "options": {}
      },
      "id": "3400d3ce-7830-47b6-bec7-87ca918c2e72",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1520,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE {{\"upload_\"+ $(\"Execute Workflow Trigger\").first().json.supplier.toLowerCase()}}\nRENAME COLUMN {{ \"\\\"\"+$json.column_name+\"\\\"\"  }} TO {{ $json.column_name.toLowerCase().replace(/\\s/g,'') }};",
        "options": {
          "queryBatching": "single"
        }
      },
      "id": "e06ed251-f6d6-41cf-9470-b947ea87cdd8",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1740,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.column_name }}",
              "value2": "={{ $json.column_name.toLowerCase().replace(/\\s/g,'') }}"
            }
          ]
        }
      },
      "id": "d8a9772c-6cb3-4a00-be75-a11db06827cd",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1740,
        560
      ]
    },
    {
      "parameters": {},
      "id": "5ad893fd-3421-4c70-b738-95189bfcd66a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "alterStatements",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "c5bc34b0-7a1f-45c4-ab72-90a3852af9b2",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        1520,
        320
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-10T13:01:44.729Z",
      "updatedAt": "2023-08-10T13:01:44.729Z",
      "id": "9sOXgdnAKkDHmBZQ",
      "name": "if"
    },
    {
      "createdAt": "2023-08-08T15:13:33.587Z",
      "updatedAt": "2023-08-08T15:13:33.587Z",
      "id": "bbI8zuoQ3XV0LUP0",
      "name": "set"
    },
    {
      "createdAt": "2023-08-10T13:01:36.942Z",
      "updatedAt": "2023-08-10T13:01:36.942Z",
      "id": "cEh6fwE32oIO00B5",
      "name": "split in batches"
    },
    {
      "createdAt": "2023-08-10T13:01:31.941Z",
      "updatedAt": "2023-08-10T13:01:31.941Z",
      "id": "zZDHTHLWDuph4zmi",
      "name": "item lists"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-06-30T13:27:08.000Z",
  "versionId": "0efdc2fd-dcab-448c-a4a4-24d97f578a21"
}