workflowsDataUpdate: Supplier Index Sync.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-12T10:16:36.959Z",
  "id": "bnPQxg9HQ0hjn4VZ",
  "name": "DataUpdate: Supplier Index Sync",
  "nodes": [
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "default_code",
            "barcode",
            "product_tag_ids",
            "product_tmpl_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tag_ids",
              "operator": "in",
              "value": "={{ Number($('Globals').first().json.globals.ProductTagId) }}"
            },
            {
              "fieldName": "barcode",
              "operator": "notEqual",
              "value": "={{ false }}"
            }
          ]
        }
      },
      "id": "45572ecd-3b89-443b-8dd1-6156414e913c",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1380,
        740
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            }
          ]
        },
        "options": {}
      },
      "id": "101fa3aa-2277-42c7-a986-e4fcea29365d",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        740
      ]
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "id": "04d19a01-eaaf-4f9f-bbe4-335d6f633558",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2000,
        740
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE {{ \"datatransit.index_\"+$('Globals').first().json.name.toLowerCase() }};",
        "options": {}
      },
      "id": "20e6cc99-2185-4ec5-8a4c-480241795cd9",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1100,
        740
      ],
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "supplier",
              "value": "={{$('Globals').first().json.name.toLowerCase()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3b4b340-e679-490d-af40-79710269d7ad",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1600,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.barcode }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e274a750-c2bc-45b6-ba02-09c26ab9c8f8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2220,
        640
      ]
    },
    {
      "parameters": {},
      "id": "592c8411-a0fd-44cf-93f7-11623110cca3",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2340,
        780
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "reset",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "507d365a-4fb3-4b26-973b-52dfcbdda262",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        880,
        1000
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "supplier-index-sync",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "8fc2a1d4-9d7c-4d63-8fd0-6e5c466bd101",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        740
      ],
      "webhookId": "b6fbf7df-f0d8-45d8-b9d7-a0b64fd317e0"
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/supplier-index-sync-sub-flow",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$('IF').all()}}",
        "options": {}
      },
      "id": "22d64220-5d86-43b5-8f37-f008e5edd619",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2760,
        740
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/pricelist-checker",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Globals').first().json }}",
        "options": {}
      },
      "id": "28153068-e892-4027-b51a-8693cf728e2b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        1000
      ],
      "executeOnce": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "axios/0.21.4",
            "content-length": "463",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "x-forwarded-for": "172.21.0.1",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "globals": {
              "SupplierName": "Madison",
              "PartnerId": 47,
              "ProductTagId": 8,
              "LeadTimeAddition": 3,
              "Webhook": "update-madison",
              "LastCount": "20060",
              "CreateSequence": "create-categ-sync,create-size-sync,create-version-write,create-brand-sync,create-brand-write,create-colour-sync,create-colour-write,create-attribute-write,create-madison-extrainfo-label-sync,create-madison-extrainfo-label-write,create-madison-extrainfo-sync,create-madison-extrainfo-write"
            },
            "name": "Madison"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-09-27T14:36:27.000Z",
  "versionId": "5f277a8b-f869-4a7f-a819-814c9dd97c2c"
}