workflowsMy workflow 2.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-14T08:23:57.102Z",
  "id": "yLMLeqobzjfiqq3Y",
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "1b7e5135-b1d4-470d-bbba-b753bac124b1",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        420
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "delay",
              "operator": "lesserThen",
              "value": "0"
            }
          ]
        }
      },
      "id": "a12cab81-9c48-44be-a0e6-f742838e0175",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1040,
        420
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "delay",
              "fieldValue": "365"
            }
          ]
        }
      },
      "id": "91b88159-2b58-458c-9c61-6c3a03be9605",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-14T08:37:43.000Z",
  "versionId": "81cad585-5b6f-4185-8ab9-199f6c87d69a"
}