workflowsData Update: GENERIC: Create: Template Creation (sub routine).json
{
  "active": true,
  "connections": {
    "VariantGroup Name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split attribute_ids",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Picture": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Group Routine": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set product_tmpl_id": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attribute_ids": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "VariantGroup Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Variant Group Routine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "Item Lists5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists5": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Picture1": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Image1": {
      "main": [
        [
          {
            "node": "Variant Group Routine1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Group Routine1": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Group Hookup1": {
      "main": [
        [
          {
            "node": "Set product_tmpl_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "Variant Group Hookup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set product_tmpl_id1": {
      "main": [
        [
          {
            "node": "Resolve Variant Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attribute_ids1": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Variant Group Routine1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Main Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Split attribute_ids1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Variant Details1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Exists already, add tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Picture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Picture1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "Set product_tmpl_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Variant Group Routine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set product_tmpl_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists already, add tag": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Odoo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Odoo4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo6": {
      "main": [
        [
          {
            "node": "IF8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF8": {
      "main": [
        [
          {
            "node": "Odoo5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-09T10:24:19.527Z",
  "id": "mH04Tb4DE4OQKY7f",
  "name": "Data Update: GENERIC: Create: Template Creation (sub routine)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const a1= items[0].json.productname;\nvar shortestString = a1.length;\n\nif (items.length > 1) {\n  var i2 = 0;\n  while (i2<items.length) {\n    const a2= items[i2].json.productname;\n    const L = a1.length;\n    var i= 0;\n    while(i<L && a1.charAt(i)=== a2.charAt(i)) {  \n      i++;\n    };\n    if (i<shortestString){shortestString = i;}\n    i2++;\n  };\n}; \nif (shortestString == 0) {\n  shortestString = a1.length;\n}\nreturn [{\n  json: {\n    commonDescription : a1.substring(0, shortestString)\n  }\n}];\n"
      },
      "id": "0e74f75a-bd7b-442d-ab2e-cfe4e2f54ccc",
      "name": "VariantGroup Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        540,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3857a187-0daa-493c-af61-241d5f6230ee",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        760,
        580
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "common_attribute_ids",
              "value": "={{$json.attribute_ids.split(\",\").map(Number)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2fec5848-09ae-4e62-bddb-5d21d1f728bb",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        560,
        800
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "common_attribute_ids",
        "options": {}
      },
      "id": "f2bae3f0-56ad-42d8-aabe-e6a29c306bc7",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        740,
        800
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates"
      },
      "id": "5c55b1a9-8c07-4a01-b6ee-55b024a6a271",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "common_attribute_ids"
            }
          ]
        },
        "options": {}
      },
      "id": "5f2ee30a-90fa-474c-8a3a-e356752de4b7",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1040,
        800
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2"
            }
          }
        }
      },
      "id": "3c189659-527b-4a1b-b40b-5108eed36e67",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1380,
        800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "active",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldName": "allow_out_of_stock_order",
              "fieldValue": "={{true}}"
            },
            {
              "fieldName": "available_in_pos",
              "fieldValue": "={{$json.categ_id == 101 ? false : true}}"
            },
            {
              "fieldName": "available_threshold",
              "fieldValue": "={{ 5 }}"
            },
            {
              "fieldName": "categ_id",
              "fieldValue": "={{ $json[\"categ_id\"] }}"
            },
            {
              "fieldName": "default_code",
              "fieldValue": "={{ $json[\"productcode\"] }}"
            },
            {
              "fieldName": "description",
              "fieldValue": "={{ $json[\"longdescription\"] }}"
            },
            {
              "fieldName": "name",
              "fieldValue": "=VARIANT GROUP [{{ $json[\"variantgrouping\"] }}],{{ $json[\"commonDescription\"] }}"
            },
            {
              "fieldName": "list_price",
              "fieldValue": "={{ $json[\"rrp\"] }}"
            },
            {
              "fieldName": "is_published",
              "fieldValue": "={{true}}"
            },
            {
              "fieldName": "website_published",
              "fieldValue": "={{$json.categ_id == 101 ? false : $('Globals').first().json.globals.RestrictedBrands.includes($json.realbrand) ? false : true }}"
            },
            {
              "fieldName": "detailed_type",
              "fieldValue": "product"
            },
            {
              "fieldName": "type",
              "fieldValue": "product"
            },
            {
              "fieldName": "website_meta_description",
              "fieldValue": "=Shop for {{ $json[\"commonDescription\"] }} for £{{     ((Math.round(($json[\"rrp\"]*(1+($json.vat/100)))*100))/100).toFixed(2)    }} at BIKETRAX "
            },
            {
              "fieldName": "website_meta_keywords",
              "fieldValue": "={{ $json[\"keywords\"] }}"
            },
            {
              "fieldName": "website_description",
              "fieldValue": "={{ $json[\"longdescription\"] }}"
            },
            {
              "fieldName": "pos_categ_id",
              "fieldValue": "={{ $json.categ_id == 101 ? false : $json[\"pos_categ_id\"]}}"
            },
            {
              "fieldName": "public_categ_ids",
              "fieldValue": "={{$json.categ_id == 101 ? false : Array($json.public_categ_ids.toString()).map(Number)}}"
            },
            {
              "fieldName": "product_tag_ids",
              "fieldValue": "={{ [$(\"Globals\").first().json[\"globals\"][\"ProductTagId\"]] }}"
            },
            {
              "fieldName": "property_account_expense_id",
              "fieldValue": "={{49}}"
            },
            {
              "fieldName": "property_account_income_id",
              "fieldValue": "={{ 46 }}"
            },
            {
              "fieldName": "standard_price",
              "fieldValue": "={{ $json[\"yourprice\"] }}"
            },
            {
              "fieldName": "barcode",
              "fieldValue": "={{ $json[\"ean\"] }}"
            },
            {
              "fieldName": "weight",
              "fieldValue": "={{ $json[\"weight\"] ? $json.weight : 0.5 }}"
            },
            {
              "fieldName": "sale_delay",
              "fieldValue": "={{ $(\"Globals\").first().json[\"globals\"][\"LeadTimeAddition\"] }}"
            },
            {
              "fieldName": "supplier_taxes_id",
              "fieldValue": "={{$json.vat == 20 ? [11] : [3]}}"
            },
            {
              "fieldName": "display_name",
              "fieldValue": "={{ $json[\"commonDescription\"] }}"
            },
            {
              "fieldName": "taxes_id",
              "fieldValue": "={{$json.vat == 20 ? [10] : [1]}}"
            },
            {
              "fieldName": "x_studio_brand_1",
              "fieldValue": "={{ $json.realbrand }}"
            }
          ]
        }
      },
      "id": "33f9b6c0-339d-4e01-b5cd-75401450f97b",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1540,
        800
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "b40e1f19-bf5a-4f15-bec5-cf63d909ab38",
      "name": "Add Picture",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ $node[\"Postgres\"].json}}"
            },
            {
              "name": "type",
              "value": "product.template"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{ $node[\"Odoo1\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8aa406af-a820-4ad9-ba74-36b1e92e1d12",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "29427b03-010e-43c4-b8fd-232c18296f42",
      "name": "Variant Group Routine",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        1260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "common_attribute_ids",
              "value": "={{ $node[\"Merge1\"].json[\"common_attribute_ids\"] }}"
            }
          ],
          "number": [
            {
              "name": "product_template_id",
              "value": "={{ $node[\"Odoo1\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fdbe500-b1f3-40a5-a7d4-44e2c9ba3350",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        780,
        1260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "product_tmpl_id",
              "value": "={{ $node[\"Odoo1\"].json[\"id\"] }}"
            }
          ],
          "string": [
            {
              "name": "supplier",
              "value": "={{[$(\"Globals\").first().json[\"name\"],$(\"Globals\").first().json[\"globals\"][\"PartnerId\"]]}}"
            },
            {
              "name": "delay",
              "value": "={{ $('Globals').first().json.globals.LeadTimeAddition }}"
            }
          ]
        },
        "options": {}
      },
      "id": "816011c0-5492-4996-9539-7670881140b5",
      "name": "Set product_tmpl_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1520,
        1260
      ]
    },
    {
      "parameters": {},
      "id": "b4e30726-e16f-4edf-83b3-3bbaa167cc88",
      "name": "Split attribute_ids",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"categ_id\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "8d9ac282-192e-4a10-aac1-d849c186ad15",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        580
      ]
    },
    {
      "parameters": {},
      "id": "9f5b1eda-92bd-40be-be86-d07c49622d97",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        540,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"data\"][\"imageurl\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0b71c7c5-a348-45d3-9862-7c24067133da",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"rrp\"] }}",
              "operation": "equal",
              "value2": "={{ $input.first().json.rrp }}"
            }
          ]
        }
      },
      "id": "b4f3d7e4-f5f7-48db-9966-1f0504645102",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c896eeae-b341-4677-a219-1481a8cdab1e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        460,
        1500
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "common_attribute_ids",
              "value": "={{$json.attribute_ids.split(\",\").map(Number)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "50e7050e-a344-441e-a6a6-9f92ce52dd5d",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1060,
        1700
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "common_attribute_ids",
        "options": {}
      },
      "id": "82ed1bc5-9ee2-4b9b-8b8b-34103aabcd09",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1240,
        1700
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates"
      },
      "id": "57953730-50d6-4f87-a418-71064ba9416c",
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1380,
        1700
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "common_attribute_ids"
            }
          ]
        },
        "options": {}
      },
      "id": "c56fad52-a3e8-41ca-9f8c-1d1b00023c9b",
      "name": "Item Lists5",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1540,
        1700
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput2"
            }
          }
        }
      },
      "id": "1af3822d-a133-49c5-a6dd-468ef2cdb684",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1880,
        1700
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "active",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldName": "allow_out_of_stock_order",
              "fieldValue": "={{true}}"
            },
            {
              "fieldName": "available_in_pos",
              "fieldValue": "={{$json.categ_id == 101 ? false : true}}"
            },
            {
              "fieldName": "available_threshold",
              "fieldValue": "={{ 5 }}"
            },
            {
              "fieldName": "categ_id",
              "fieldValue": "={{ $json[\"categ_id\"] }}"
            },
            {
              "fieldName": "default_code",
              "fieldValue": "={{ $json[\"ProductCode\"] }}"
            },
            {
              "fieldName": "description",
              "fieldValue": "={{ $json[\"LongDescription\"] }}"
            },
            {
              "fieldName": "name",
              "fieldValue": "=VARIANT GROUP [{{ $json[\"VariantGrouping\"] }}],{{ $json[\"ProductName\"] }}"
            },
            {
              "fieldName": "list_price",
              "fieldValue": "={{ $json[\"Rrp\"] }}"
            },
            {
              "fieldName": "is_published",
              "fieldValue": "={{true}}"
            },
            {
              "fieldName": "website_published",
              "fieldValue": "={{$json.categ_id == 101 ? false : $('Globals').first().json.globals.RestrictedBrands.includes($json.realbrand) ? false : true }}"
            },
            {
              "fieldName": "detailed_type",
              "fieldValue": "product"
            },
            {
              "fieldName": "type",
              "fieldValue": "product"
            },
            {
              "fieldName": "website_meta_description",
              "fieldValue": "=Shop for {{ $json[\"ProductName\"] }} for £{{     ((Math.round(($json[\"UnitMsrp\"]*(1+($json.Vat/100)))*100))/100).toFixed(2)    }} at BIKETRAX "
            },
            {
              "fieldName": "website_meta_keywords",
              "fieldValue": "={{ $json[\"Keywords\"] }}"
            },
            {
              "fieldName": "website_description",
              "fieldValue": "={{ $json[\"LongDescription\"] }}"
            },
            {
              "fieldName": "pos_categ_id",
              "fieldValue": "={{$json.categ_id == 101 ? false : $json[\"pos_categ_id\"]}}"
            },
            {
              "fieldName": "public_categ_ids",
              "fieldValue": "={{$json.categ_id == 101 ? false : Array($json.public_categ_ids.toString()).map(Number)}}"
            },
            {
              "fieldName": "product_tag_ids",
              "fieldValue": "={{ [$(\"When Called By Another Workflow\").first().json[\"Globals\"][\"ProductTagId\"]] }}"
            },
            {
              "fieldName": "property_account_expense_id",
              "fieldValue": "={{49}}"
            },
            {
              "fieldName": "property_account_income_id",
              "fieldValue": "={{ 46 }}"
            },
            {
              "fieldName": "standard_price",
              "fieldValue": "={{ $json[\"YourPrice\"] }}"
            },
            {
              "fieldName": "barcode",
              "fieldValue": "={{ $json[\"Ean\"] }}"
            },
            {
              "fieldName": "weight",
              "fieldValue": "={{ $json[\"Weight\"] ? $json.Weight : 0.5}}"
            },
            {
              "fieldName": "sale_delay",
              "fieldValue": "={{ $(\"When Called By Another Workflow\").first().json[\"Globals\"][\"LeadTimeAddition\"] }}"
            },
            {
              "fieldName": "supplier_taxes_id",
              "fieldValue": "={{$json.Vat = 20 ? [11] : [3]}}"
            },
            {
              "fieldName": "display_name",
              "fieldValue": "={{ $json[\"commonDescription\"] }}"
            },
            {
              "fieldName": "taxes_id",
              "fieldValue": "={{$json.Vat = 20 ? [10] : [1]}}"
            },
            {
              "fieldName": "={{ \"x_studio_brand_1\"  }}",
              "fieldValue": "{{$json.realbrand}}"
            }
          ]
        }
      },
      "id": "421fb2ac-3fa4-481b-9697-c91d96c7a9da",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2040,
        1700
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "3cc973b4-d52a-4f00-83e2-8811ac284989",
      "name": "Add Picture1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        1920
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{ $node[\"MySQL1\"].data}}"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{ $node[\"Odoo\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3503c177-625f-4963-8c54-25ddeeb3e16d",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1240,
        1920
      ]
    },
    {
      "parameters": {
        "workflowId": "25"
      },
      "id": "5b0916a9-a83c-43d0-b254-c355b35c29ba",
      "name": "Main Image1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1760,
        1920
      ]
    },
    {
      "parameters": {},
      "id": "5c565ca2-b5c2-4d98-9065-d85bab146aa0",
      "name": "Variant Group Routine1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        2160
      ]
    },
    {
      "parameters": {
        "workflowId": "55"
      },
      "id": "d4f08fb5-8e4a-46b5-890a-d6b67a73a5ac",
      "name": "Variant Group Hookup1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1620,
        2160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "common_attribute_ids",
              "value": "={{ $node[\"Merge2\"].json[\"common_attribute_ids\"] }}"
            }
          ],
          "number": [
            {
              "name": "product_template_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89a76d30-b435-470a-a753-82b7cd786100",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1460,
        2160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "product_tmpl_id",
              "value": "={{ $node[\"Odoo\"].json[\"id\"] }}"
            }
          ],
          "string": [
            {
              "name": "supplier",
              "value": "={{[$(\"When Called By Another Workflow\").first().json[\"Name\"],$(\"When Called By Another Workflow\").first().json[\"Globals\"][\"PartnerId\"]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c562a1f-d6af-42ee-906a-e3c25ce489ff",
      "name": "Set product_tmpl_id1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1800,
        2160
      ]
    },
    {
      "parameters": {
        "workflowId": "26"
      },
      "id": "9d57d2bd-84a1-4aa7-b3c4-3186d7993415",
      "name": "Resolve Variant Details1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1980,
        2160
      ]
    },
    {
      "parameters": {},
      "id": "a9890332-44b4-4fcc-9559-06fcbbd2d1e7",
      "name": "Split attribute_ids1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"data\"][\"ImageUrl\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "e1bd63e3-d56e-4f18-89ae-aa488c3b5bad",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1460,
        1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"categ_id\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "ef3def97-7f03-4fc7-9c6c-328efa9c2374",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        1380
      ]
    },
    {
      "parameters": {},
      "id": "2fc85515-22d7-47cd-b9d5-739d300ff1a3",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -180,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f0e1cc8a-2709-46df-a605-9dc822948eb0",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1760,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "24078ebc-f16f-4b69-8dff-3e35af00bc32",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2200,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "df7b63db-96fe-4035-ac30-3784ea7c2b2f",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        1700
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "41437866-427d-4703-9e4b-e305ff1f79b2",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2020,
        1260
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.common_attribute_ids[0] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "99aac621-ab2e-4d8e-bc83-78eeb3087a8a",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM {{ \"`Transit-\"+ $(\"When Called By Another Workflow\").first().json[\"Name\"]+\"`\" }} WHERE ProductCode = {{\"'\"+$node[\"Split In Batches\"].json.ProductCode+\"'\"}};",
        "options": {}
      },
      "id": "5a15e452-5619-424e-9cbd-448bfa7d49e4",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        180,
        1700
      ],
      "credentials": {
        "mySql": {
          "id": "6",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "path": "create-template-subroutine",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eb949c18-0ece-4d03-9fa1-03d7bd665250",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -760,
        400
      ],
      "webhookId": "add16103-7cb1-4cfd-b054-a0034f25b898"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $json.body.globals }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "variantgrouping",
              "value": "={{ $json.body.variantgrouping }}"
            },
            {
              "name": "globals.RestrictedBrands",
              "value": "={{  $json.body.globals.RestrictedBrands ? $json.body.globals.RestrictedBrands.split(\",\") : [null] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "cd040e75-1151-4d87-b5c5-3ce275d5c43a",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -580,
        400
      ]
    },
    {
      "parameters": {
        "height": 1093.989780885781,
        "width": 2041.2118974358998
      },
      "id": "3aa7cb36-5261-4091-932c-83b65b828cff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        187.9999999999991,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*,b.brand AS realbrand \nFROM {{  \"transit_\" + $(\"Globals\").first().json[\"name\"] }} a\nJOIN {{  \"odoodata.feed_\" + $(\"Globals\").first().json[\"name\"] }} b\nON a.productcode = b.productcode\nWHERE a.VariantGrouping = {{\"'\"+$json.variantgrouping\n        .replace(/\\\\/g, \"\\\\\\\\\")\n        .replace(/\\'/g, \"''\")\n        .replace(/\\n/g, \"\\\\\\n\")\n        .replace(/\\r/g, \"\\\\\\r\")\n        .replace(/\\x00/g, \"\\\\\\x00\")\n        .replace(/\\x1a/g, \"\\\\\\x1a\")+\"'\"}};",
        "options": {}
      },
      "id": "b69ec45d-d849-4758-a8ef-d448c5256caf",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        -400,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "ayAxbLgcy5Lpqy5D",
          "name": "datatransit"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/create-template-mainimage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "20e5f966-abf7-4db3-8c58-9ca8352f1df3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        1020
      ]
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/create-template-variant-hookup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "0991b529-b0d1-458c-a4d6-142758172f79",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        1340
      ]
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/create-resolve-variant-codes",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "b3d581f0-2825-4572-b432-df9f19388f26",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1740,
        1260
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "product_tmpl_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "default_code",
              "value": "={{$('Merge1').first().json.productcode  }}"
            }
          ]
        }
      },
      "id": "23025aba-b460-4257-9aab-81e2a34563eb",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2240,
        800
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {},
      "id": "5cb828b1-52d4-421d-bd2e-7163e84d346f",
      "name": "Exists already, add tag",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2020,
        800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "get",
        "customResourceId": "={{ $json.product_tmpl_id[0] }}",
        "options": {
          "fieldsList": [
            "product_tag_ids"
          ]
        }
      },
      "id": "75845fc6-5cf1-46dc-bf80-975d72e06867",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2420,
        800
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "$input.first().json.product_tag_ids.push($('Globals').first().json.globals.ProductTagId)\n\n\nreturn $input.first();"
      },
      "id": "eb1ebcc5-aa42-43e6-bf6d-b49f5d839027",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "product_tag_ids",
              "fieldValue": "={{ $json.product_tag_ids }}"
            },
            {
              "fieldName": "allow_out_of_stock_order",
              "fieldValue": "={{ $('Merge1').first().json.stockcount == 1 }}"
            }
          ]
        }
      },
      "id": "94c58fee-1c72-4d39-932b-0b83d65ed677",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2860,
        800
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "price",
              "fieldValue": "={{ $('Merge1').first().json.yourprice }}"
            },
            {
              "fieldName": "delay",
              "fieldValue": "={{ $('Merge1').first().json[\"stockcount\"] == 1 ? $('Globals').first().json.globals.LeadTimeAddition : $json.leadtime > 0 ? $json.leadtime + $('Globals').first().json.globals.LeadTimeAddition  : 365 + $('Globals').first().json.globals.LeadTimeAddition }}"
            },
            {
              "fieldName": "partner_id",
              "fieldValue": "={{$('Globals').first().json.globals.PartnerId}}"
            },
            {
              "fieldName": "display_name",
              "fieldValue": "={{[$('Globals').first().json.name]}}"
            },
            {
              "fieldName": "company_id",
              "fieldValue": "={{1}}"
            },
            {
              "fieldName": "currency_id",
              "fieldValue": "={{142}}"
            },
            {
              "fieldName": "product_tmpl_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "92bc3c29-f484-4317-993a-a2b5df3d23f3",
      "name": "Odoo5",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2860,
        1300
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.supplierinfo",
        "operation": "getAll",
        "limit": 1,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tmpl_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "de0b4e73-27f8-47f1-b511-9184207c291a",
      "name": "Odoo6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2640,
        1080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "ec4688a5-05a8-4a14-8fff-4b1e9e7165ba",
      "name": "IF8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        1300
      ]
    },
    {
      "parameters": {},
      "id": "faa49b16-e6b6-4ce9-a1bc-5055117bee2c",
      "name": "No Change",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        1520
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-05T17:29:38.000Z",
  "versionId": "9386c5f4-b420-4016-9975-746673d17022"
}