workflowsData Update: Clearance.json
{
  "active": true,
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate feed_": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Populate feed_",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-11T16:01:51.771Z",
  "id": "hDIE8BJtUbioxJYz",
  "name": "Data Update: Clearance",
  "nodes": [
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "53984835-b3ff-4e5f-ac0c-76c955ba7f18",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1480,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json.globals)[0]  }}"
            },
            {
              "name": "name",
              "value": "={{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9641f442-a370-4327-9ccc-b06198218037",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        580
      ]
    },
    {
      "parameters": {
        "path": "update-clearance",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e76e170b-a202-499f-955f-513d8a425537",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        780
      ],
      "webhookId": "493dd800-61a8-4358-b5cf-70f6ca8f6ac2"
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "09973e07-9d6c-454e-a8ed-f6557bdabe52",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Clearance';",
        "options": {}
      },
      "id": "083fe7c2-22e1-4839-a260-2923c78b23dd",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE feed_clearance;",
        "options": {}
      },
      "id": "bb0a6a2d-0a06-4b82-ad41-c3fc1af83ac3",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1700,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "default_code",
            "barcode",
            "display_name",
            "standard_price",
            "list_price",
            "taxes_id",
            "qty_available",
            "x_studio_brand_1",
            "additional_product_tag_ids",
            "product_tag_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "all_product_tag_ids",
              "operator": "in",
              "value": "={{ 64}}"
            }
          ]
        }
      },
      "id": "7d74269f-9fca-400e-ab51-1c2a79b4dc0b",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1920,
        760
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "default_code",
              "newKey": "productcode"
            },
            {
              "currentKey": "barcode",
              "newKey": "ean"
            },
            {
              "currentKey": "display_name",
              "newKey": "productname"
            },
            {
              "currentKey": "standard_price",
              "newKey": "yourprice"
            },
            {
              "currentKey": "list_price",
              "newKey": "rrp"
            },
            {
              "currentKey": "x_studio_brand_1",
              "newKey": "brand"
            },
            {}
          ]
        },
        "additionalOptions": {}
      },
      "id": "4c6d8545-9ecf-49fc-9be7-037be63046e7",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2560,
        520
      ]
    },
    {
      "parameters": {},
      "id": "dfbbe01e-425a-4db2-9f6c-9d4397aa541e",
      "name": "Populate feed_",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2360,
        520
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "vat",
              "value": "={{ $json.taxes_id[0] == 10 ? 20 : 0 }}"
            },
            {
              "name": "stockcount",
              "value": "={{ $json.qty_available > 0 ? 1: 0}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ed3f7e1-befe-42b1-8924-6327680b63b1",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2760,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  delete item.json.id;\n  delete item.json.taxes_id;\n  delete item.json.qty_available;\n  delete item.json.additional_product_tag_ids;\n  delete item.json.product_tag_ids;\n}\n\nreturn $input.all();"
      },
      "id": "5d86e524-60d9-4eba-b137-39b3b1e92471",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2980,
        520
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "odoodata",
          "mode": "list",
          "cachedResultName": "odoodata"
        },
        "table": {
          "__rl": true,
          "value": "feed_clearance",
          "mode": "list",
          "cachedResultName": "feed_clearance"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yourprice": "={{ $json.yourprice }}",
            "rrp": "={{ $json.rrp }}",
            "vat": "={{ $json.vat }}",
            "stockcount": "={{ $json.stockcount }}",
            "leadtime": 0,
            "productcode": "={{ $json.productcode }}",
            "ean": "={{ $json.ean }}",
            "productname": "={{ $json.productname }}",
            "brand": "={{ $json.brand }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "productcode",
              "displayName": "productcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ean",
              "displayName": "ean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productname",
              "displayName": "productname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "yourprice",
              "displayName": "yourprice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rrp",
              "displayName": "rrp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat",
              "displayName": "vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "stockcount",
              "displayName": "stockcount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "shortdescription",
              "displayName": "shortdescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "longdescription",
              "displayName": "longdescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageurl",
              "displayName": "imageurl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alternativeimage1url",
              "displayName": "alternativeimage1url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alternativeimage2url",
              "displayName": "alternativeimage2url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alternativeimage3url",
              "displayName": "alternativeimage3url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "size",
              "displayName": "size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "colour",
              "displayName": "colour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "packqty",
              "displayName": "packqty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "leadtime",
              "displayName": "leadtime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "variantgrouping",
              "displayName": "variantgrouping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subcategory",
              "displayName": "subcategory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "technicalspec",
              "displayName": "technicalspec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "technicalspeclabel",
              "displayName": "technicalspeclabel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "40725752-62f0-4877-b230-d4a27e66b460",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3200,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.qty_available }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "6d1ac659-a833-46f7-a039-919536a89451",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2140,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let arr = [64,65];\n  item.json.additional_product_tag_ids = item.json.additional_product_tag_ids.filter(tag => !arr.includes(tag));\n  item.json.product_tag_ids = item.json.product_tag_ids.filter(tag => !arr.includes(tag))\n}\n\nreturn $input.all();"
      },
      "id": "2ddd19fd-fee6-4cb9-a65d-268829b36d7f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.product_tag_ids }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.additional_product_tag_ids }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "ca402b5d-e57e-4018-b52f-67870b0e8dfb",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2560,
        980
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "active",
              "fieldValue": "={{ false }}"
            }
          ]
        }
      },
      "id": "dc5319f0-7f62-424c-be3c-8780d5b7f837",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2760,
        840
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "additional_product_tag_ids",
              "fieldValue": "={{ $json.additional_product_tag_ids }}"
            },
            {
              "fieldName": "additional_product_tag_ids",
              "fieldValue": "={{ $json.product_tag_ids }}"
            }
          ]
        }
      },
      "id": "d03b0614-9cc5-4940-903a-28cf2979a00e",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2760,
        1120
      ],
      "credentials": {
        "odooApi": {
          "id": "2ttPRWxNWqAWB6fY",
          "name": "Odoo account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "node4.biketrax.co.uk",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19uzB%2F2RwI3pb3oig7i%2BGYjUaXUvBafSXo%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BoZ2i4ru9I4nIZdoAOC8oawp2SlBFiGbs%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImU1NGU2NmU4LTA0YzYtNGZhZi1iZTdjLWMyNDIwYzY2NGU3NCIsImVtYWlsIjoibHVrZUBiaWtldHJheC5jby51ayIsInBhc3N3b3JkIjoiOTRkYjE5YmM3MjMxNDgxODQ3MDRjMmYxZGZkYjlmYjAzNDQxMjM0MjcwMThhODllNGQ5ODQ4NWM2MzUyOGQ0ZSIsImlhdCI6MTcwMjMxMDQ4MSwiZXhwIjoxNzAyOTE1MjgxfQ.csor39Qgf9Qg-GW7e2PSifBiQ5NbvWjoWx4Y-oUrcls; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BwpI%2BlsW%2FG4xZXM8x6%2F8YyEMf%2F7bIvz%2B7cV7A7XE15GbSJbkBNRvetDtLzmrMcb%2BdOohjfJH4PVw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BQvqagtAW7JxCX5t0R%2BOTyb1XTvIB2rsFlspJ4mGBJ8%2BqqoUsNx5tIHe9MWJq4qkr4m%2FwkMd8iBiq590hFmNdp4S67B63xoB3etC%2FDl9mmtsran55SmYrv3M8MG11ijVkSC0VfDp0V6oDR%2FuNAPATGKOzU%2BMspKsc%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FUwb4rYFfjR4DjAJ%2Bk9IbiznDmiolIOHZfC2Czbf%2F%2B14MlpPu7VdV8Y4ejL1Ll18G1prjC3UHsMuRgHdLPTZRwy8P%2FEjx3Nwv9yblgSADS1C7zKJ2IMCgorVQ3PWahNA9QxcCfKDGZ0i2v5KH4BSrvbGLNEYkBUlw%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22a13b88bcc4f075601cb03976e302271640b69ef501a91a6df62cec4b5d57da7c%23e54e66e8-04c6-4faf-be7c-c2420c664e74%22%2C%22%24sesid%22%3A%5B1702382955060%2C%22018c5dea-15cf-7225-acf3-57f7639803b3%22%2C1702382671311%5D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2Bj3%2BkJkpG4bDhLyIw90CugiKqBMVvZAhtqC0yIBX0%2B8n8V2ZzpMqZr72oDtoVJIftFSTF6QcokJWCfRDAE4ZMhGp844Nsyn792OEmMjYooWauzFCoDO0ZZouzC7KFNZji4UGdAw4VvEQ%3D%3D",
            "sec-ch-ua": "\"Not_A Brand\";v=\"8\", \"Chromium\";v=\"120\", \"Google Chrome\";v=\"120\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "195.224.58.58",
            "x-forwarded-host": "node4.biketrax.co.uk",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "id": "Vuerdt8JErJ7XwoD",
      "name": "code"
    },
    {
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "id": "evqsbisrBK9HqVQU",
      "name": "Merge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-12-12T15:28:29.000Z",
  "versionId": "3864a57d-33fa-494c-8148-e58043c55246"
}