workflowsData Update: Madison.json
{
  "active": true,
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Madison Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Madison Prep": {
      "main": [
        [
          {
            "node": "Postgres12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres12": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Transit Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sequence": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transit Tables": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-10T09:17:56.996Z",
  "id": "9GCkbS6dkAE9cgU8",
  "name": "Data Update: Madison",
  "nodes": [
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.tag",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Sportline"
            }
          ]
        }
      },
      "id": "2878eb44-5085-4e76-9e6c-d5d81ed5ba5c",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1220,
        1320
      ],
      "credentials": {
        "odooApi": {
          "id": "5",
          "name": "Odoo: BTX"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "8b8b8e21-0204-4f8c-98ad-7fbc4c0bf586",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1480,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json.globals)[0]  }}"
            },
            {
              "name": "name",
              "value": "={{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f250857b-fdf3-4860-8c36-977139098063",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        580
      ]
    },
    {
      "parameters": {
        "path": "update-madison",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e58fc38b-399d-4726-907e-d0eff46bc5ca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        840,
        780
      ],
      "webhookId": "8e681709-59dd-45f0-9403-d2e72945ebd0"
    },
    {
      "parameters": {
        "content": "## Progress\n",
        "height": 1459.622641509435,
        "width": 1561.207547169811
      },
      "id": "37199024-012d-407c-9265-cf7da6e6c69d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM odoodata.map_supplierinfo WHERE Name = 'Madison';",
        "options": {}
      },
      "id": "a1d3c0a8-61a0-46bd-8815-451d293403fc",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1040,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/madison-prep",
        "options": {}
      },
      "id": "cfa0a94e-024b-4d58-811c-e6946a01817e",
      "name": "Madison Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://node4.biketrax.co.uk/webhook/transit-tables",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Globals').first().json }}",
        "options": {}
      },
      "id": "ffc85a2e-b59b-45cb-b4db-9d7d7c151e62",
      "name": "Transit Tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2220,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT (productcode) FROM upload_madison;",
        "options": {}
      },
      "id": "a75bf0bd-0cb1-40ad-9d3d-462ce891f454",
      "name": "Postgres12",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1840,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count }}",
              "operation": "largerEqual",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 0.75 }}"
            },
            {
              "value1": "={{ $json.count }}",
              "value2": "={{ $('Globals').first().json.globals.LastCount * 1.25 }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $('Globals').first().json.globals.errorState }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "d2017826-d40f-4326-8754-826990f5c0b1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        760
      ]
    },
    {
      "parameters": {
        "fromEmail": "productfeeds@biketrax.co.uk",
        "toEmail": "luke@biketrax.co.uk",
        "subject": "Madison Feed Rejected!",
        "text": "=Madison feed rejected:\n\nExpected Lines: {{$('Globals').first().json.globals.LastCount}} (Range - 75% - 125%)\nRecieved Lines: {{ $json.count }}\n",
        "options": {}
      },
      "id": "45bffb83-ecad-48fe-8ef6-f0b02b54dc0a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2000,
        1000
      ],
      "credentials": {
        "smtp": {
          "id": "xOWEzMfuqVVoWrw0",
          "name": "productfeeds@biketrax.co.uk"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE map_supplierinfo SET globals = {{ \"'[\" + JSON.stringify($json.globals) + \"]'\" }} WHERE \"name\" = 'Madison';",
        "options": {}
      },
      "id": "fd74ec6a-06c0-44ca-acdd-fa6dd94d6918",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        2160,
        1220
      ],
      "credentials": {
        "postgres": {
          "id": "dqel3RyoT6NsGiSw",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{ $('Globals').first().json.globals }}"
            },
            {
              "name": "globals.errorState",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83475bea-55db-42aa-8057-1fe4518b5b59",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2000,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Globals').first()"
      },
      "id": "2a3cd800-92fe-48d3-942c-2b3264a97b27",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2560,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "create-sequence",
              "value": "={{ $json.globals.CreateSequence.split(\",\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a6e8cf0-02a8-4b59-8363-ee654d1e0cba",
      "name": "Create Sequence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2720,
        760
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "create-sequence",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "4d18188c-6bbb-4e00-bff1-9bc092090bbe",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2880,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/{{ $json['create-sequence'] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "ca88ad26-07a0-4e00-9f07-1f3b608f41d9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3420,
        760
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0412e4b3-cd40-4490-a397-aa2b13083c57",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        3100,
        760
      ]
    },
    {
      "parameters": {},
      "id": "10a70ab1-c9a5-4621-8399-4543c25578fe",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        1060
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/create-template",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$('Globals').first().json}}",
        "options": {}
      },
      "id": "45aeb7d7-922e-4c1b-b219-1c004c4f5375",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3620,
        1060
      ],
      "executeOnce": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-08-08T15:46:20.698Z",
      "updatedAt": "2023-08-08T15:46:20.698Z",
      "id": "4S5wvtegUIvgvqYs",
      "name": "PostgreSQL"
    },
    {
      "createdAt": "2023-08-08T15:51:26.157Z",
      "updatedAt": "2023-08-08T15:51:26.157Z",
      "id": "Vuerdt8JErJ7XwoD",
      "name": "code"
    },
    {
      "createdAt": "2023-08-08T15:51:11.963Z",
      "updatedAt": "2023-08-08T15:51:11.963Z",
      "id": "evqsbisrBK9HqVQU",
      "name": "Merge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-09-10T11:07:38.000Z",
  "versionId": "00dbcb8d-d441-43da-bc9b-d021f2123ba4"
}